<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="templateNodeDef">

	<!-- 結果集 -->
	<resultMap id="templateNodeDefResult" type="com.imfbp.rz.domain.templatenodedef.TemplateNodeDef">
		<result property="id" column="id" />
		<result property="nodeCode" column="node_code" />
		<result property="templateId" column="template_id" />
		<result property="useStatus" column="use_status" />
		<result property="tenantId" column="tenant_id" />
		<result property="createdate" column="createdate" />
		<result property="creator" column="creator" />
		<result property="createdtime" column="createdtime" />
		<result property="operator" column="operator" />
		<result property="operationtime" column="operationtime" />
		<result property="modifier" column="modifier" />
		<result property="modifiedtime" column="modifiedtime" />
		<result property="ts" column="ts" />
		<result property="dr" column="dr" />
	</resultMap>
	
	<!-- 查询字段-->
	<sql id="templateNodeDefField">
		id,node_code,template_id,use_status,tenant_id,createdate,creator,createdtime,operator,operationtime,modifier,modifiedtime,ts,dr
	</sql>
	
	<!-- 查询条件 -->
	<sql id="condition">
        <where>
       	 ifnull(dr,0) = 0
        	<if test="id != null and id != ''" >
				and id = #{id}
			</if>
        	<if test="nodeCode != null and nodeCode != ''" >
				and node_code = #{nodeCode}
			</if>
        	<if test="templateId != null and templateId != ''" >
				and template_id = #{templateId}
			</if>
        	<if test="useStatus != null and useStatus != ''" >
				and use_status = #{useStatus}
			</if>
        	<if test="tenantId != null and tenantId != ''" >
				and tenant_id = #{tenantId}
			</if>
        	<if test="createdate != null and createdate != ''" >
				and createdate = #{createdate}
			</if>
        	<if test="creator != null and creator != ''" >
				and creator = #{creator}
			</if>
        	<if test="createdtime != null and createdtime != ''" >
				and createdtime = #{createdtime}
			</if>
        	<if test="operator != null and operator != ''" >
				and operator = #{operator}
			</if>
        	<if test="operationtime != null and operationtime != ''" >
				and operationtime = #{operationtime}
			</if>
        	<if test="modifier != null and modifier != ''" >
				and modifier = #{modifier}
			</if>
        	<if test="modifiedtime != null and modifiedtime != ''" >
				and modifiedtime = #{modifiedtime}
			</if>
        	<if test="ts != null and ts != ''" >
				and ts = #{ts}
			</if>
        	<if test="dr != null and dr != ''" >
				and dr = #{dr}
			</if>
        </where>
    </sql>
    
    <!-- 修改条件 -->
	<sql id="updateByCondition">
        <where>
       	 ifnull(dr,0) = 0
				<if test="parameter.id != null and parameter.id != ''" >
					and id = #{parameter.id}
				</if>
				<if test="parameter.nodeCode != null and parameter.nodeCode != ''" >
					and node_code = #{parameter.nodeCode}
				</if>
				<if test="parameter.templateId != null and parameter.templateId != ''" >
					and template_id = #{parameter.templateId}
				</if>
				<if test="parameter.useStatus != null and parameter.useStatus != ''" >
					and use_status = #{parameter.useStatus}
				</if>
				<if test="parameter.tenantId != null and parameter.tenantId != ''" >
					and tenant_id = #{parameter.tenantId}
				</if>
				<if test="parameter.createdate != null and parameter.createdate != ''" >
					and createdate = #{parameter.createdate}
				</if>
				<if test="parameter.creator != null and parameter.creator != ''" >
					and creator = #{parameter.creator}
				</if>
				<if test="parameter.createdtime != null and parameter.createdtime != ''" >
					and createdtime = #{parameter.createdtime}
				</if>
				<if test="parameter.operator != null and parameter.operator != ''" >
					and operator = #{parameter.operator}
				</if>
				<if test="parameter.operationtime != null and parameter.operationtime != ''" >
					and operationtime = #{parameter.operationtime}
				</if>
				<if test="parameter.modifier != null and parameter.modifier != ''" >
					and modifier = #{parameter.modifier}
				</if>
				<if test="parameter.modifiedtime != null and parameter.modifiedtime != ''" >
					and modifiedtime = #{parameter.modifiedtime}
				</if>
				<if test="parameter.ts != null and parameter.ts != ''" >
					and ts = #{parameter.ts}
				</if>
				<if test="parameter.dr != null and parameter.dr != ''" >
					and dr = #{parameter.dr}
				</if>
        </where>
    </sql>
    
    <!-- 新增 -->	
	<insert id="insertTemplateNodeDef" parameterType="templateNodeDef">
		insert into template_node_def
			(id,node_code,template_id,use_status,tenant_id,createdate,creator,createdtime,operator,operationtime,modifier,modifiedtime,ts,dr ) 
		values 
			(#{id,jdbcType=CHAR},#{nodeCode,jdbcType=VARCHAR},#{templateId,jdbcType=CHAR},#{useStatus,jdbcType=BIT},#{tenantId,jdbcType=CHAR},#{createdate,jdbcType=CHAR},#{creator,jdbcType=CHAR},#{createdtime,jdbcType=CHAR},#{operator,jdbcType=CHAR},#{operationtime,jdbcType=CHAR},#{modifier,jdbcType=CHAR},#{modifiedtime,jdbcType=CHAR},#{ts,jdbcType=CHAR},#{dr,jdbcType=BIT})
    </insert>
    
    <!-- 批量新增 -->	
	<insert id="insertBatchTemplateNodeDef" parameterType="java.util.List">
       insert into template_node_def
			(id,node_code,template_id,use_status,tenant_id,createdate,creator,createdtime,operator,operationtime,modifier,modifiedtime,ts,dr ) 
	   values
	    <foreach collection="list" item="obj" index="index" separator="," >
	    	(#{obj.id},#{obj.nodeCode},#{obj.templateId},#{obj.useStatus},#{obj.tenantId},#{obj.createdate},#{obj.creator},#{obj.createdtime},#{obj.operator},#{obj.operationtime},#{obj.modifier},#{obj.modifiedtime},#{obj.ts},#{obj.dr})
	    </foreach>
   </insert>
    
	<!-- 根据id进行逻辑删除 (修改数据库数据为删除状态) -->
    <update id="logicDeleteTemplateNodeDefById" parameterType="templateNodeDefQuery" >
    	update template_node_def  set dr=1 where id = #{id} 
    </update>
    
    <!-- 根据条件进行逻辑删除  (修改数据库数据为删除状态)-->
    <update id="logicDeleteTemplateNodeDefByCondition" parameterType="templateNodeDefQuery" >
    	update template_node_def set dr=1<include refid="condition" /> 
    </update>
    
    <!-- 根据条件进行逻辑删除  (修改数据库数据为删除状态)-->
    <update id="logicDeleteTemplateNodeDefByBatchId" parameterType="map" >
    	update template_node_def set dr=1 
    	where 
    	id in 
    	<foreach item="item" index="index" collection="batchId1" open="(" separator="," close=")">
    		#{item} 
    	</foreach>
    	
    </update>
    
    <!-- 根据id删除 (删除数据库数据)-->
    <delete id="deleteTemplateNodeDefById" parameterType="templateNodeDefQuery" >
    	delete from template_node_def  where id = #{id} 
    </delete>
    
    <!-- 根据条件删除 (删除数据库数据)-->
    <delete id="deleteTemplateNodeDefByCondition" parameterType="templateNodeDefQuery" >
    	delete from 
    	template_node_def<include refid="condition" /> 
    </delete>
    
    <!-- 根据主键批量删除 (删除数据库数据)-->
    <delete id="deleteTemplateNodeDefByBatchId" parameterType="templateNodeDefQuery" >
    	delete from template_node_def 
    	where
    	id in 
    	<foreach item="item" index="index" collection="batchId1" open="(" separator="," close=")">
    		#{item} 
    	</foreach>
    	
    </delete>
    
    <!-- 根据id修改 -->
    <update id="updateTemplateNodeDefById" parameterType="templateNodeDefQuery">
		update  template_node_def 
		<set>
			<if test="nodeCode != null and nodeCode != '' " >
				node_code = #{nodeCode},
			</if>
			<if test="templateId != null and templateId != '' " >
				template_id = #{templateId},
			</if>
			<if test="useStatus != null  " >
				use_status = #{useStatus},
			</if>
			<if test="tenantId != null and tenantId != '' " >
				tenant_id = #{tenantId},
			</if>
			<if test="createdate != null and createdate != '' " >
				createdate = #{createdate},
			</if>
			<if test="creator != null and creator != '' " >
				creator = #{creator},
			</if>
			<if test="createdtime != null and createdtime != '' " >
				createdtime = #{createdtime},
			</if>
			<if test="operator != null and operator != '' " >
				operator = #{operator},
			</if>
			<if test="operationtime != null and operationtime != '' " >
				operationtime = #{operationtime},
			</if>
			<if test="modifier != null and modifier != '' " >
				modifier = #{modifier},
			</if>
			<if test="modifiedtime != null and modifiedtime != '' " >
				modifiedtime = #{modifiedtime},
			</if>
			<if test="ts != null and ts != '' " >
				ts = #{ts},
			</if>
			<if test="dr != null and dr != '' " >
				dr = #{dr},
			</if>
		</set>
		where
			id = #{id} 
    </update>
    
     <!-- 根据条件修改 -->
    <update id="updateTemplateNodeDefByCondition" parameterType="map">
		update  template_node_def 
		<set>
				<if test="record.nodeCode != null and record.nodeCode != ''">
					node_code = #{record.nodeCode},
				</if>
				<if test="record.templateId != null and record.templateId != ''">
					template_id = #{record.templateId},
				</if>
				<if test="record.useStatus != null and record.useStatus != ''">
					use_status = #{record.useStatus},
				</if>
				<if test="record.tenantId != null and record.tenantId != ''">
					tenant_id = #{record.tenantId},
				</if>
				<if test="record.createdate != null and record.createdate != ''">
					createdate = #{record.createdate},
				</if>
				<if test="record.creator != null and record.creator != ''">
					creator = #{record.creator},
				</if>
				<if test="record.createdtime != null and record.createdtime != ''">
					createdtime = #{record.createdtime},
				</if>
				<if test="record.operator != null and record.operator != ''">
					operator = #{record.operator},
				</if>
				<if test="record.operationtime != null and record.operationtime != ''">
					operationtime = #{record.operationtime},
				</if>
				<if test="record.modifier != null and record.modifier != ''">
					modifier = #{record.modifier},
				</if>
				<if test="record.modifiedtime != null and record.modifiedtime != ''">
					modifiedtime = #{record.modifiedtime},
				</if>
				<if test="record.ts != null and record.ts != ''">
					ts = #{record.ts},
				</if>
				<if test="record.dr != null and record.dr != ''">
					dr = #{record.dr},
				</if>
		</set>
		<include refid="updateByCondition" />
    </update>
    
    <!-- 根据主键进行批量修改 -->
    <update id="updateTemplateNodeDefByBatchId"  parameterType="java.util.List">
    	<if test="list != null">
	     <foreach collection="list" item='obj' separator=";" >
	     update template_node_def
	     <set>
				<if test="obj.nodeCode != null and obj.nodeCode != ''">
					node_code = #{obj.nodeCode},
				</if>
				<if test="obj.templateId != null and obj.templateId != ''">
					template_id = #{obj.templateId},
				</if>
				<if test="obj.useStatus != null and obj.useStatus != ''">
					use_status = #{obj.useStatus},
				</if>
				<if test="obj.tenantId != null and obj.tenantId != ''">
					tenant_id = #{obj.tenantId},
				</if>
				<if test="obj.createdate != null and obj.createdate != ''">
					createdate = #{obj.createdate},
				</if>
				<if test="obj.creator != null and obj.creator != ''">
					creator = #{obj.creator},
				</if>
				<if test="obj.createdtime != null and obj.createdtime != ''">
					createdtime = #{obj.createdtime},
				</if>
				<if test="obj.operator != null and obj.operator != ''">
					operator = #{obj.operator},
				</if>
				<if test="obj.operationtime != null and obj.operationtime != ''">
					operationtime = #{obj.operationtime},
				</if>
				<if test="obj.modifier != null and obj.modifier != ''">
					modifier = #{obj.modifier},
				</if>
				<if test="obj.modifiedtime != null and obj.modifiedtime != ''">
					modifiedtime = #{obj.modifiedtime},
				</if>
				<if test="obj.ts != null and obj.ts != ''">
					ts = #{obj.ts},
				</if>
				<if test="obj.dr != null and obj.dr != ''">
					dr = #{obj.dr},
				</if>
			</set>
			where
				id = #{obj.id} 
	     </foreach>
     	</if>
    </update>
    
    <!-- 查询所有 -->
    <select id="getTemplateNodeDefAll" parameterType="templateNodeDefQuery" resultMap="templateNodeDefResult">
		SELECT 
		<include refid="templateNodeDefField" />  
		from  
		template_node_def<include refid="condition" />
	</select>
	
	<!-- 分页查询总数 -->
	<select id="getTemplateNodeDefByPageCount" parameterType="templateNodeDefQuery" resultType="int">
		SELECT count(*) from  template_node_def
		<include refid="condition" />
	</select>
	
	<!-- 分页查询 -->
	<select id="getTemplateNodeDefByPage" parameterType="templateNodeDefQuery" resultMap="templateNodeDefResult">
		SELECT <include refid="templateNodeDefField" /> from template_node_def
		<include refid="condition" />
		<if test="sort !=null">
		    ORDER BY ${sort} ${order} 
		</if>
		<![CDATA[LIMIT #{startRow}, #{endRow} ]]>
	</select>
	
	<!-- 根据Id查询 -->
	<select id="getTemplateNodeDefById" parameterType="templateNodeDefQuery" resultMap="templateNodeDefResult">
		SELECT <include refid="templateNodeDefField" /> from  template_node_def  where id = #{id} 
		and ifnull(dr,0) = 0
		 
	</select>
    
</mapper>
