<div class="padding-5">
	<div class="toolsbarPanel">
		<div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm add-btn" >新增</button>
            <button type="button" class="btn btn-default btn-sm remove-btn">删除</button>
            <button type="button" class="btn btn-default btn-sm edit-btn">修改</button>
            <button type="button" class="btn btn-default btn-sm create-btn">生成更新合同</button>
            <button type="button" class="btn btn-default btn-sm filemgr-btn">附件管理</button>
            <button type="button" class="btn btn-default btn-sm link-btn">联查</button>
            <button type="button" class="btn btn-default btn-sm export-btn" >导出</button>
		</div>
	</div>
	<div class="grid rzPrjcontrChgList"></div>
	<ul id="pagination" class="pagination"></ul>
</div>