<title>rzPrjcontrChgLessee</title>
<body>
<div id="rzPrjcontrChgLesseeModule" >
	
	<!-- list page start -->
	<div class="listPage startPage">
		#parse("/WEB-INF/vm/rzPrjcontrChgLessee/rzPrjcontrChgLesseeList.vm")
	</div>
	<!-- list page end -->
	
	<!-- edit page end -->
	<div class="rzPrjcontrChgLesseeEdit" style="display:none;">
		#parse("/WEB-INF/vm/rzPrjcontrChgLessee/rzPrjcontrChgLesseeEdit.vm")
	</div>
	<!-- edit page end -->
	
</div>


<script>

jQuery(function(){

	
	//列表后台访问地址
	var url_page = '$homeModule.getTarget('/rzPrjcontrChgLessee/getRzPrjcontrChgLesseeByPage')';
	//添加修改后台访问地址
	var url_add = '$homeModule.getTarget('/rzPrjcontrChgLessee/insertOrUpdate')';
	//删除后台访问地址
	var url_del = '$homeModule.getTarget('/rzPrjcontrChgLessee/deleteRzPrjcontrChgLesseeByBatchId')';
	
	//查询对象
	var queryData = new RzPrjcontrChgLesseeView();
	//编辑对象
	var editData = new RzPrjcontrChgLesseeView();
	//空对象用来清空编辑和查询对象
	var emptyData = new RzPrjcontrChgLesseeView();
	
	window.viewModel={
		queryData:ko.mapping.fromJS(queryData),
		editData:ko.mapping.fromJS(editData),
		pageState:ko.observable("")
	}
	
	/**
	 * 表头
	 */
	var col = [{  
		field:"pkPrjcontrChgLessee",
		title:"主键",
		visible:false
	},{
		field:"pkPrjcontrChg",
		title:"合同变更主键",
        visible:false
	},{
		field:"pkCustomer",
		title:"承租人",
        imfbpRefType:'customerref',
        renderType:"imfbpRefTransform"
	},{
		field:"isMainLessee",
		title:"是否主承租人",
        renderType: function (obj) {
            var html = "<span>"
            //获取状态：通过状态判断更改相应代码Y 是、N 否
            var state = obj.row.value.isMainLessee;
            if ("Y" == state ) {
                html += "是";
            }else{
                html += "否";
            }
            html += "</span>";
            var innerDom = u.makeDOM(html);
            obj.element.appendChild(innerDom);
        }
	},{
        field:"enterpriseLegalPerson",
        title:"法人代表"
    },{
        field:"enterprisePersonIdentificationNo",
        title:"组织机构代码证"
    },{
        field:"enterpriseAddr",
        title:"通信地址 "
    },{
        field:"enterprisePostcode",
        title:"邮编"
    },{
        field:"enterpriseContacts",
        title:"联系人"
    },{
        field:"enterpriseTelphone",
        title:"联系人电话"
    },{
        field:"enterpriseFax",
        title:"传真"
    },{
        field:"enterpriseMobilephone",
        title:"联系人手机"
    },{
        field:"enterpriseMail",
        title:"联系人邮箱"
    },{
		field:"remark",
		title:"备注"
 	}];
    
	
	/**
     * 初始化layoutMDI
     */
	$("#rzPrjcontrChgLesseeModule").layoutMDI({
		//当页面后退时候触发的事件
		onBackPage: function(target, options) {
			ko.mapping.fromJS(emptyData,viewModel.editData);
		} 
	});
	
	/**
     * 创建一个表格，但是没有赋值dataSource数据，这是表格将没有数据
	 */
	var gridObj = $("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeList").grid({
		dataSource:'',
    	id: 'case-g1',
   		keyField: 'id',
   		parentKeyField: 'pid',
    	multiSelect: true,
    	showNumCol:true,
    	height: 350,
    	columns: col,
    	onDblClickFun:function(gridObj,rowObj,rowIndex){
			//设置页面的输入框为不可修改
			viewModel.editData.enableState(false);
			//得到点击行
    		var dbClickRow = gridObj.rowObj;
    		//赋值
    		ko.mapping.fromJS(dbClickRow.value, viewModel.editData);
            refManager.setRefArea(".rzPrjcontrChgLesseeEditForm");
            refManager.initAreaLoadData(".rzPrjcontrChgLesseeEditForm", function(name){
                var fun = viewModel.editData[name];
                if(typeof fun == 'function'){
                    return fun();
                }
            });
    		//跳转到编辑页
        	$("#rzPrjcontrChgLesseeModule").layoutMDI("go", ".rzPrjcontrChgLesseeEdit");
    	}
    });
	
	/**
	 * 初始化分页
	 */
	var paginationObj = $("#rzPrjcontrChgLesseeModule .pagination").pagination({
		pageSize:10,
		styleMode:2,
		onSelectPage:function(pageNumber, pageSize){
			var queryData = $.extend(ko.mapping.toJS(viewModel.queryData),{pageNumber:pageNumber,pageSize:pageSize});
			jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeList").gridPlugin("reLoad",queryData);
		}
	});
	
	/**
	 * 初始化表格插件
	 */
	var gridPluginObj = jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeList").gridPlugin({
		url: url_page,
		gridObj:gridObj,
		queryParam:getParams(),
		pagination:true,//是否分页默认为否
		paginationObj:paginationObj,//分页控件对象
		initData:true,//初始化时候是否加载数据(true时候加载，false时候不加载)
		onDataSuccess:function(data){
			//当列表加载成功之后调用
            imfbpDataTableTranform(gridObj, data.rows,function(){
                var d = {};
                d.values = data.rows;
                gridObj.setDataSource(d);
            });
		},
		onDataError:function(data){
			//当列表加载失败之后调用
		},
	})
	
	/**
	 * form表单插件
	 */
	jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeEditForm").formPlugin({
		url: url_add,//添加修改的地址
		gridPlugin:gridPluginObj,//表格插件对象
		onSaveSuccess:function(data){
			//保存成功后退出编辑页面
			$("#rzPrjcontrChgLesseeModule").layoutMDI("back");
		},
		onSaveError:function(data){
			//保存失败回调事件
		},
		onSaveError:function(data){
			//保存失败回调事件
			jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeList").gridPlugin("load", {});
		},
		onDeleteSuccess:function(data){
			
		}
	})
	
	/**
	 * 新增功能
	 */			
    jQuery("#rzPrjcontrChgLesseeModule .toolsbarPanel .add-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为添加状态
		viewModel.pageState(pageState.add);
        refManager.setRefArea(".rzPrjcontrChgLesseeEditForm");
        refManager.initAreaLoadData(".rzPrjcontrChgLesseeEditForm", function(name){
            var fun = viewModel.editData[name];
            if(typeof fun == 'function'){
                return fun();
            }
        });
        $("#rzPrjcontrChgLesseeModule").layoutMDI("go", ".rzPrjcontrChgLesseeEdit");
    });

	/**
	 * 修改功能
	 */		    
    jQuery("#rzPrjcontrChgLesseeModule .toolsbarPanel .update-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为修改状态
		viewModel.pageState(pageState.edit);
    	//当前选中行
    	var selectRow = gridObj.getSelectRows();
    	//将数据绑定到表单上面
    	ko.mapping.fromJS(selectRow[0], viewModel.editData);
        refManager.setRefArea(".rzPrjcontrChgLesseeEditForm");
        refManager.initAreaLoadData(".rzPrjcontrChgLesseeEditForm", function(name){
            var fun = viewModel.editData[name];
            if(typeof fun == 'function'){
                return fun();
            }
        });
    	//跳转到编辑页面
        $("#rzPrjcontrChgLesseeModule").layoutMDI("go", ".rzPrjcontrChgLesseeEdit");
    });

	/**
	 * 删除功能
	 */	    
    jQuery("#rzPrjcontrChgLesseeModule .toolsbarPanel .remove-btn").click(function(){
    	//要删除的id用","隔开
		var batchId = "";
		//当前选中行
		var selectRow = gridObj.getSelectRows();
		//判断是否选中要删除的数据
		if(selectRow.length == 0) {
			alert("请选择您要修改的数据");
			return;
		}
	
		for(var i = 0; i < selectRow.length; i++) {
			var row = selectRow[i];
			if(i == 0) {
				batchId = row["pkPrjcontrChgLessee"] + batchId;
			} else {
				batchId = row["pkPrjcontrChgLessee"] + "," + batchId;
			}
		}
		//删除数据
		jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeEditForm").formPlugin("remove",{batchId:batchId,url:url_del});
    });
    
    /**
	 * 刷新功能(只是刷新当前页，如果要刷新所有页面使用 load 方法)
	 */	 
    jQuery("#rzPrjcontrChgLesseeModule .toolsbarPanel .refresh-btn").click(function(){
		jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeList").gridPlugin("reLoad",viewModel.queryData);
    });
    
    //保存功能
	jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeEdit .save-btn").click(function(){
		if(viewModel.pageState()=="add"){
			ko.mapping.fromJS(emptyData,viewModel.queryData);
		}
		var param = {
			formData:ko.mapping.toJS(viewModel.editData),//要提交的数据
			queryData:ko.mapping.toJS(viewModel.queryData),//修改完毕刷新表格的参数
			editType:viewModel.pageState()//页面的状态(add：添加，edit:编辑)
		}
		jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeEditForm").formPlugin("save",param);
	});
	
	//查找功能
	jQuery("#rzPrjcontrChgLesseeModule .searchToolsbar .search-btn").click(function(){
		jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeList").gridPlugin("load",ko.mapping.toJS(viewModel.queryData));
	});
	
	//重置查询条件功能
	jQuery("#rzPrjcontrChgLesseeModule .searchToolsbar .reset-btn").click(function(){
		ko.mapping.fromJS(emptyData,viewModel.queryData);
	});
	
	//编辑页返回
	jQuery("#rzPrjcontrChgLesseeModule .rzPrjcontrChgLesseeEdit .back-btn").click(function(){
		$("#rzPrjcontrChgLesseeModule").layoutMDI("back");
	});

	ko.applyBindings(viewModel);

});

//承租人参照翻译
function lesseeRefCallFunction(eleObj, data, name, id) {
    var fun = viewModel.editData[name];
    if(typeof fun == 'function'){
        fun(data[id]);
    }
//    ko.mapping.fromJS(data,viewModel.editData);
}

function RzPrjcontrChgLesseeView(){
	//主键
	this.pkPrjcontrChgLessee="";
	//项目评审主键  
	this.pkPrjcontrChg="${pkPrjcontrChg}";
	//承租人（客户主键）
	this.pkCustomer="";
	//是否主承租人 Y是 N否
	this.isMainLessee="";
    this.enterpriseName="";
    this.enterpriseLegalPerson="";
    this.enterprisePersonIdentificationNo="";
    this.enterpriseAddr="";
    this.enterprisePostcode="";
    this.enterpriseContacts="";
    this.enterpriseTelphone="";
    this.enterpriseFax="";
    this.enterpriseMobilephone="";
    this.enterpriseMail="";
	//备注
	this.remark="";
	//编辑页面状态
	this.enableState=true;
}

function getParams(selector){
	return {pkPrjcontrChg:"${pkPrjcontrChg}"};
}

</script>
	
</body>