<title>rzPrjcontrChgPur</title>
<body>
<div id="rzPrjcontrChgPurModule" >
	
	<!-- list page start -->
	<div class="listPage startPage">
		#parse("/WEB-INF/vm/rzPrjcontrChgPur/rzPrjcontrChgPurSearch.vm")
		#parse("/WEB-INF/vm/rzPrjcontrChgPur/rzPrjcontrChgPurList.vm")
	</div>
	<!-- list page end -->
	
	<!-- edit page end -->
	<div class="rzPrjcontrChgPurEdit" style="display:none;">
		#parse("/WEB-INF/vm/rzPrjcontrChgPur/rzPrjcontrChgPurEdit.vm")
	</div>
	<!-- edit page end -->
	
</div>


<script>

jQuery(function(){

	
	//列表后台访问地址
	var url_page = '$homeModule.getTarget('/rzPrjcontrChgPur/getRzPrjcontrChgPurByPage')';
	//添加修改后台访问地址
	var url_add = '$homeModule.getTarget('/rzPrjcontrChgPur/insertOrUpdate')';
	//删除后台访问地址
	var url_del = '$homeModule.getTarget('/rzPrjcontrChgPur/deleteRzPrjcontrChgPurByBatchId')';
	
	//查询对象
	var queryData = new RzPrjcontrChgPurView();
	//编辑对象
	var editData = new RzPrjcontrChgPurView();
	//空对象用来清空编辑和查询对象
	var emptyData = new RzPrjcontrChgPurView();
	
	var viewModel={
		queryData:ko.mapping.fromJS(queryData),
		editData:ko.mapping.fromJS(editData),
		pageState:ko.observable("")
	}
	
	/**
	 * 表头
	 */
	var col = [{  
		field:"pkPrjcontrChgPur",
		title:"主键"
	},{
		field:"pkPrjcontrChgSupplier",
		title:"供应商外键"
	},{
		field:"pkPrjcontrChg",
		title:"项目评审主键  "
	},{
		field:"purContrCode",
		title:"采购合同编号"
	},{
		field:"purContrName",
		title:"采购合同名称"
	},{
		field:"purContrType",
		title:"合同类型 ：0 融资租赁合同、1 担保合同、2买卖合同、3抵质押合同、4转让合同、5 保险合同"
	},{
		field:"eqptAmt",
		title:"设备金额(元)"
	},{
		field:"discountPer",
		title:"租赁物折让比例(%)"
	},{
		field:"discountAmt",
		title:"折让金额"
	},{
		field:"planSignedDate",
		title:"合同预计签订日期"
	},{
		field:"signedDate",
		title:"合同签订日期"
 	}];
    
	
	/**
     * 初始化layoutMDI
     */
	$("#rzPrjcontrChgPurModule").layoutMDI({
		//当页面后退时候触发的事件
		onBackPage: function(target, options) {
			ko.mapping.fromJS(emptyData,viewModel.editData);
		} 
	});
	
	/**
     * 创建一个表格，但是没有赋值dataSource数据，这是表格将没有数据
	 */
	var gridObj = $("#rzPrjcontrChgPurModule .rzPrjcontrChgPurList").grid({
		dataSource:'',
    	id: 'case-g1',
   		keyField: 'id',
   		parentKeyField: 'pid',
    	multiSelect: true,
    	showNumCol:true,
    	height: 370,
    	columns: col,
    	onDblClickFun:function(gridObj,rowObj,rowIndex){
			//设置页面的输入框为不可修改
			viewModel.editData.enableState(false);
			//得到点击行
    		var dbClickRow = gridObj.rowObj;
    		//赋值
    		ko.mapping.fromJS(dbClickRow.value, viewModel.editData);
    		//跳转到编辑页
        	$("#rzPrjcontrChgPurModule").layoutMDI("go", ".rzPrjcontrChgPurEdit");
    	}
    });
	
	/**
	 * 初始化分页
	 */
	var paginationObj = $("#rzPrjcontrChgPurModule .pagination").pagination({
		pageSize:10,
		styleMode:2,
		onSelectPage:function(pageNumber, pageSize){
			var queryData = $.extend(ko.mapping.toJS(viewModel.queryData),{pageNumber:pageNumber,pageSize:pageSize});
			jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurList").gridPlugin("reLoad",queryData);
		}
	});
	
	/**
	 * 初始化表格插件
	 */
	var gridPluginObj = jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurList").gridPlugin({
		url: url_page,
		gridObj:gridObj,
		queryParam:getParams(),
		pagination:true,//是否分页默认为否
		paginationObj:paginationObj,//分页控件对象
		initData:false,//初始化时候是否加载数据(true时候加载，false时候不加载)
		onDataSuccess:function(data){
			//当列表加载成功之后调用
		},
		onDataError:function(data){
			//当列表加载失败之后调用
		},
	})
	
	/**
	 * form表单插件
	 */
	jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurEditForm").formPlugin({
		url: url_add,//添加修改的地址
		gridPlugin:gridPluginObj,//表格插件对象
		onSaveSuccess:function(data){
			//保存成功后退出编辑页面
			$("#rzPrjcontrChgPurModule").layoutMDI("back");
		},
		onSaveError:function(data){
			//保存失败回调事件
		},
		onSaveError:function(data){
			//保存失败回调事件
			jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurList").gridPlugin("load", {});
		},
		onDeleteSuccess:function(data){
			
		}
	})
	
	/**
	 * 新增功能
	 */			
    jQuery("#rzPrjcontrChgPurModule .toolsbarPanel .add-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为添加状态
		viewModel.pageState(pageState.add);
        $("#rzPrjcontrChgPurModule").layoutMDI("go", ".rzPrjcontrChgPurEdit");
    });

	/**
	 * 修改功能
	 */		    
    jQuery("#rzPrjcontrChgPurModule .toolsbarPanel .update-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为修改状态
		viewModel.pageState(pageState.edit);
    	//当前选中行
    	var selectRow = gridObj.getSelectRows();
    	//将数据绑定到表单上面
    	ko.mapping.fromJS(selectRow[0], viewModel.editData);
    	//跳转到编辑页面
        $("#rzPrjcontrChgPurModule").layoutMDI("go", ".rzPrjcontrChgPurEdit");
    });

	/**
	 * 删除功能
	 */	    
    jQuery("#rzPrjcontrChgPurModule .toolsbarPanel .remove-btn").click(function(){
    	//要删除的id用","隔开
		var batchId = "";
		//当前选中行
		var selectRow = gridObj.getSelectRows();
		//判断是否选中要删除的数据
		if(selectRow.length == 0) {
			alert("请选择您要修改的数据");
			return;
		}
	
		for(var i = 0; i < selectRow.length; i++) {
			var row = selectRow[i];
			if(i == 0) {
				batchId = row["pkPrjcontrChgPur"] + batchId;
			} else {
				batchId = row["pkPrjcontrChgPur"] + "," + batchId;
			}
		}
		//删除数据
		jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurEditForm").formPlugin("remove",{batchId:batchId,url:url_del});
    });
    
    /**
	 * 刷新功能(只是刷新当前页，如果要刷新所有页面使用 load 方法)
	 */	 
    jQuery("#rzPrjcontrChgPurModule .toolsbarPanel .refresh-btn").click(function(){
		jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurList").gridPlugin("reLoad",viewModel.queryData);
    });
    
    //保存功能
	jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurEdit .save-btn").click(function(){
		if(viewModel.pageState()=="add"){
			ko.mapping.fromJS(emptyData,viewModel.queryData);
		}
		var param = {
			formData:ko.mapping.toJS(viewModel.editData),//要提交的数据
			queryData:ko.mapping.toJS(viewModel.queryData),//修改完毕刷新表格的参数
			editType:viewModel.pageState()//页面的状态(add：添加，edit:编辑)
		}
		jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurEditForm").formPlugin("save",param);
	});
	
	//查找功能
	jQuery("#rzPrjcontrChgPurModule .searchToolsbar .search-btn").click(function(){
		jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurList").gridPlugin("load",ko.mapping.toJS(viewModel.queryData));
	});
	
	//重置查询条件功能
	jQuery("#rzPrjcontrChgPurModule .searchToolsbar .reset-btn").click(function(){
		ko.mapping.fromJS(emptyData,viewModel.queryData);
	});
	
	//编辑页返回
	jQuery("#rzPrjcontrChgPurModule .rzPrjcontrChgPurEdit .back-btn").click(function(){
		$("#rzPrjcontrChgPurModule").layoutMDI("back");
	});

	ko.applyBindings(viewModel);

});

function RzPrjcontrChgPurView(){
	//主键
	this.pkPrjcontrChgPur="";
	//供应商外键
	this.pkPrjcontrChgSupplier="";
	//项目评审主键  
	this.pkPrjcontrChg="";
	//采购合同编号
	this.purContrCode="";
	//采购合同名称
	this.purContrName="";
	//合同类型 ：0 融资租赁合同、1 担保合同、2买卖合同、3抵质押合同、4转让合同、5 保险合同
	this.purContrType="";
	//设备金额(元)
	this.eqptAmt="";
	//租赁物折让比例(%)
	this.discountPer="";
	//折让金额
	this.discountAmt="";
	//合同预计签订日期
	this.planSignedDate="";
	//合同签订日期
	this.signedDate="";
	//编辑页面状态
	this.enableState=true;
}

function getParams(selector){
	return {};
}

</script>
	
</body>