<!-- search start  -->
<div class="searchPanel padding-10">
	<form class="form-horizontal">
		<div class="searchContent" data-bind="with:queryData">
						
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPmtPlanCf" class="form-control" data-bind="value:pkPmtPlanCf">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPmtPlan" class="form-control" data-bind="value:pkPmtPlan">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">计划收支日期</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="planpmtdate" class="form-control" data-bind="value:planpmtdate">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">收付计划期次</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="prd" class="form-control" data-bind="value:prd">
						</div>
					</div>
				</div>
			</div>
			<!--******更多条件放这里********-->
			<div class="hideRule">
				
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">计划收付类型</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="planpmttype" class="form-control" data-bind="value:planpmttype">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">计划收付类别</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="planpmtcategory" class="form-control" data-bind="value:planpmtcategory">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">偿还期间</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="pmtdur" class="form-control" data-bind="value:pmtdur">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">期间天数</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="durdays" class="form-control" data-bind="value:durdays">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">租赁利率(%)</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="leaseRate" class="form-control" data-bind="value:leaseRate">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应收本金</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="receivableAmt" class="form-control" data-bind="value:receivableAmt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应收利息</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="receivableInt" class="form-control" data-bind="value:receivableInt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应收租金</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="receivableRent" class="form-control" data-bind="value:receivableRent">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应收罚息</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="receivablDefInt" class="form-control" data-bind="value:receivablDefInt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应收手续费</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="receivableFee" class="form-control" data-bind="value:receivableFee">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应收款合计</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="receivableTotal" class="form-control" data-bind="value:receivableTotal">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应付融资金额</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="payableFa" class="form-control" data-bind="value:payableFa">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应付服务费</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="payableSc" class="form-control" data-bind="value:payableSc">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应付款项金额</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="payableAmt" class="form-control" data-bind="value:payableAmt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实收本金</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actAmt" class="form-control" data-bind="value:actAmt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实收利息</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actInt" class="form-control" data-bind="value:actInt">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实收租金</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actRent" class="form-control" data-bind="value:actRent">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实收罚息</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actDefInt" class="form-control" data-bind="value:actDefInt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实收手续费</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actFee" class="form-control" data-bind="value:actFee">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实付融资金额</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actFa" class="form-control" data-bind="value:actFa">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实付服务费</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actSc" class="form-control" data-bind="value:actSc">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">是否核销:Y是N否</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="isCheck" class="form-control" data-bind="value:isCheck">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 展开更多的一行-->
		<div class="searchToolsbar">
			<div data-target=".hideRule" data-toggle="collapse" class="moreRule">
				<span>展开更多查询条件</span>
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</div>
			<div class="search-box">
				<button type="button" class="btn btn-default btn-sm reset-btn">重置</button>
				<button type="button" class="btn btn-default btn-sm search-btn">查询</button>
			</div>
		</div>
	</form>
</div>
<!-- search end -->