<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rzPrjcontrLessee">

	<!-- 結果集 -->
	<resultMap id="rzPrjcontrLesseeResult" type="com.imfbp.rz.domain.rzprjcontrlessee.RzPrjcontrLessee">
		<result property="pkPrjcontrLessee" column="pk_prjcontr_lessee" />
		<result property="pkPrjcontr" column="pk_prjcontr" />
		<result property="pkCustomer" column="pk_customer" />
		<result property="isMainLessee" column="is_main_lessee" />
		<result property="remark" column="remark" />
	</resultMap>
	
	<!-- 查询字段-->
	<sql id="rzPrjcontrLesseeField">
		pk_prjcontr_lessee,pk_prjcontr,pk_customer,is_main_lessee,remark
	</sql>
	
	<!-- 查询条件 -->
	<sql id="condition">
        <where>
        	<if test="pkPrjcontrLessee != null and pkPrjcontrLessee != ''" >
				and pk_prjcontr_lessee = #{pkPrjcontrLessee}
			</if>
        	<if test="pkPrjcontr != null and pkPrjcontr != ''" >
				and pk_prjcontr = #{pkPrjcontr}
			</if>
        	<if test="pkCustomer != null and pkCustomer != ''" >
				and pk_customer = #{pkCustomer}
			</if>
        	<if test="isMainLessee != null and isMainLessee != ''" >
				and is_main_lessee = #{isMainLessee}
			</if>
        	<if test="remark != null and remark != ''" >
				and remark = #{remark}
			</if>
        </where>
    </sql>
    
    <!-- 修改条件 -->
	<sql id="updateByCondition">
        <where>
				<if test="parameter.pkPrjcontrLessee != null and parameter.pkPrjcontrLessee != ''" >
					and pk_prjcontr_lessee = #{parameter.pkPrjcontrLessee}
				</if>
				<if test="parameter.pkPrjcontr != null and parameter.pkPrjcontr != ''" >
					and pk_prjcontr = #{parameter.pkPrjcontr}
				</if>
				<if test="parameter.pkCustomer != null and parameter.pkCustomer != ''" >
					and pk_customer = #{parameter.pkCustomer}
				</if>
				<if test="parameter.isMainLessee != null and parameter.isMainLessee != ''" >
					and is_main_lessee = #{parameter.isMainLessee}
				</if>
				<if test="parameter.remark != null and parameter.remark != ''" >
					and remark = #{parameter.remark}
				</if>
        </where>
    </sql>
    
    <!-- 新增 -->	
	<insert id="insertRzPrjcontrLessee" parameterType="rzPrjcontrLessee">
		insert into rz_prjcontr_lessee
			(pk_prjcontr_lessee,pk_prjcontr,pk_customer,is_main_lessee,remark ) 
		values 
			(#{pkPrjcontrLessee,jdbcType=CHAR},#{pkPrjcontr,jdbcType=CHAR},#{pkCustomer,jdbcType=CHAR},#{isMainLessee,jdbcType=CHAR},#{remark,jdbcType=VARCHAR})
    </insert>
    
    <!-- 批量新增 -->	
	<insert id="insertBatchRzPrjcontrLessee" parameterType="java.util.List">
       insert into rz_prjcontr_lessee
			(pk_prjcontr_lessee,pk_prjcontr,pk_customer,is_main_lessee,remark ) 
	   values
	    <foreach collection="list" item="obj" index="index" separator="," >
	    	(#{obj.pkPrjcontrLessee},#{obj.pkPrjcontr},#{obj.pkCustomer},#{obj.isMainLessee},#{obj.remark})
	    </foreach>
   </insert>
    
    
    <!-- 根据id删除 (删除数据库数据)-->
    <delete id="deleteRzPrjcontrLesseeById" parameterType="rzPrjcontrLesseeQuery" >
    	delete from rz_prjcontr_lessee  where pk_prjcontr_lessee = #{pkPrjcontrLessee} 
    </delete>
    
    <!-- 根据条件删除 (删除数据库数据)-->
    <delete id="deleteRzPrjcontrLesseeByCondition" parameterType="rzPrjcontrLesseeQuery" >
    	delete from 
    	rz_prjcontr_lessee<include refid="condition" /> 
    </delete>
    
    <!-- 根据主键批量删除 (删除数据库数据)-->
    <delete id="deleteRzPrjcontrLesseeByBatchId" parameterType="map" >
    	delete from rz_prjcontr_lessee 
    	where
    	pk_prjcontr_lessee in 
    	<foreach item="item" index="index" collection="batchId1" open="(" separator="," close=")">
    		#{item} 
    	</foreach>
    	
    </delete>
    
    <!-- 根据id修改 -->
    <update id="updateRzPrjcontrLesseeById" parameterType="rzPrjcontrLesseeQuery">
		update  rz_prjcontr_lessee 
		<set>
			<if test="pkPrjcontr != null and pkPrjcontr != '' " >
				pk_prjcontr = #{pkPrjcontr},
			</if>
			<if test="pkCustomer != null and pkCustomer != '' " >
				pk_customer = #{pkCustomer},
			</if>
			<if test="isMainLessee != null and isMainLessee != '' " >
				is_main_lessee = #{isMainLessee},
			</if>
			<if test="remark != null and remark != '' " >
				remark = #{remark},
			</if>
		</set>
		where
			pk_prjcontr_lessee = #{pkPrjcontrLessee} 
    </update>
    
     <!-- 根据条件修改 -->
    <update id="updateRzPrjcontrLesseeByCondition" parameterType="map">
		update  rz_prjcontr_lessee 
		<set>
				<if test="record.pkPrjcontr != null and record.pkPrjcontr != ''">
					pk_prjcontr = #{record.pkPrjcontr},
				</if>
				<if test="record.pkCustomer != null and record.pkCustomer != ''">
					pk_customer = #{record.pkCustomer},
				</if>
				<if test="record.isMainLessee != null and record.isMainLessee != ''">
					is_main_lessee = #{record.isMainLessee},
				</if>
				<if test="record.remark != null and record.remark != ''">
					remark = #{record.remark},
				</if>
		</set>
		<include refid="updateByCondition" />
    </update>
    
    <!-- 根据主键进行批量修改 -->
    <update id="updateRzPrjcontrLesseeByBatchId"  parameterType="java.util.List">
    	<if test="list != null">
	     <foreach collection="list" item='obj' separator=";" >
	     update rz_prjcontr_lessee
	     <set>
				<if test="obj.pkPrjcontr != null and obj.pkPrjcontr != ''">
					pk_prjcontr = #{obj.pkPrjcontr},
				</if>
				<if test="obj.pkCustomer != null and obj.pkCustomer != ''">
					pk_customer = #{obj.pkCustomer},
				</if>
				<if test="obj.isMainLessee != null and obj.isMainLessee != ''">
					is_main_lessee = #{obj.isMainLessee},
				</if>
				<if test="obj.remark != null and obj.remark != ''">
					remark = #{obj.remark},
				</if>
			</set>
			where
				pk_prjcontr_lessee = #{obj.pkPrjcontrLessee} 
	     </foreach>
     	</if>
    </update>
    
    <!-- 查询所有 -->
    <select id="getRzPrjcontrLesseeAll" parameterType="rzPrjcontrLesseeQuery" resultMap="rzPrjcontrLesseeResult">
		SELECT 
		<include refid="rzPrjcontrLesseeField" />  
		from  
		rz_prjcontr_lessee<include refid="condition" />
	</select>
	
	<!-- 分页查询总数 -->
	<select id="getRzPrjcontrLesseeByPageCount" parameterType="rzPrjcontrLesseeQuery" resultType="int">
		SELECT count(*) from  rz_prjcontr_lessee
		<include refid="condition" />
	</select>
	
	<!-- 分页查询 -->
	<select id="getRzPrjcontrLesseeByPage" parameterType="rzPrjcontrLesseeQuery" resultMap="rzPrjcontrLesseeResult">
		SELECT <include refid="rzPrjcontrLesseeField" /> from rz_prjcontr_lessee
		<include refid="condition" />
		<if test="sort !=null">
		    ORDER BY ${sort} ${order} 
		</if>
		<![CDATA[LIMIT #{startRow}, #{endRow} ]]>
	</select>
	
	<!-- 根据Id查询 -->
	<select id="getRzPrjcontrLesseeById" parameterType="rzPrjcontrLesseeQuery" resultMap="rzPrjcontrLesseeResult">
		SELECT <include refid="rzPrjcontrLesseeField" /> from  rz_prjcontr_lessee  where pk_prjcontr_lessee = #{pkPrjcontrLessee} 
		 
	</select>
    
</mapper>
