<!-- search start  -->
<div class="searchPanel padding-10">
	<form class="form-horizontal">
		<div class="searchContent" data-bind="with:queryData">
						
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="id" class="form-control" data-bind="value:id">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">节点编码</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="nodeCode" class="form-control" data-bind="value:nodeCode">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">模板id</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="templateId" class="form-control" data-bind="value:templateId">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">是否启用</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="isUse" class="form-control" data-bind="value:isUse">
						</div>
					</div>
				</div>
			</div>
			<!--******更多条件放这里********-->
			<div class="hideRule">
				
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">租户id</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="tenantId" class="form-control" data-bind="value:tenantId">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">创建人</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="creator" class="form-control" data-bind="value:creator">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">创建时间</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="createdtime" class="form-control" data-bind="value:createdtime">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">操作者</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="operator" class="form-control" data-bind="value:operator">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">操作时间</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="operationtime" class="form-control" data-bind="value:operationtime">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">修改人</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="modifier" class="form-control" data-bind="value:modifier">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">修改时间</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="modifiedtime" class="form-control" data-bind="value:modifiedtime">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">时间戳</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="ts" class="form-control" data-bind="value:ts">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">删除标识</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="dr" class="form-control" data-bind="value:dr">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 展开更多的一行-->
		<div class="searchToolsbar">
			<div data-target=".hideRule" data-toggle="collapse" class="moreRule">
				<span>展开更多查询条件</span>
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</div>
			<div class="search-box">
				<button type="button" class="btn btn-default btn-sm reset-btn">重置</button>
				<button type="button" class="btn btn-default btn-sm search-btn">查询</button>
			</div>
		</div>
	</form>
</div>
<!-- search end -->