<!-- search start  -->
<div class="searchPanel padding-10">
	<form class="form-horizontal">
		<div class="searchContent" data-bind="with:queryData">
						
			<div class="row">
				<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">客户名称</label>
						<div class="col-md-8 col-sm-8" style="width:160px;">
							<!-- <input type="text" name="pkCustomer" class="form-control header-w150-input" data-bind="value:pkCustomer"> -->
						    <input
								type="text" name="pkCustomer" class="form-control header-w150-input"
								target-key="pkCustomer" selectcol="pkCustomer"
								data-bind="enable:false" data-imfbp-ref-bind='pkCustomer'
								data-imfbp-ref-bind-field='' />
							<div class="icon-wrap" style="height:34px;top:1px">
								<i class="glyphicon glyphicon-th-list icon" id="icon"
									data-imfbp-ref-name='customerref' ref-input-name="pkCustomer"
									name="pkCustomer" data-imfbp-ref-fun="outRpcCallFunction"
									data-imfbp-ref="ref"  style="top:4px"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">合同名称</label>
						<div class="col-md-8 col-sm-8">
						     <input type="text" name="pkPrjcontr"
								class="form-control header-w150-input"
								data-bind="enable:false" data-imfbp-ref-bind="pkPrjcontr"
								data-imfbp-ref-bind-field="" data-imfbp-ref-value="">
							<div class="icon-wrap " style="height: 34px;top: 1px;right: -14px !important;">
								<i class="glyphicon glyphicon-th-list icon" id="icon"
									name="pkPrjcontr" data-imfbp-ref-name='prjcontrref'
									data-imfbp-ref-use='true'
									data-imfbp-ref-fun="outRpcCallFunction"
									data-imfbp-ref="ref" style="top:4px"></i>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">合同状态</label>
						<div class="col-md-8 col-sm-8" style="width:160px;">
							<select type="text" name="contrStatus" class="form-control header-w150-input"
                                            data-bind="value:contrStatus">
                                        <option value="" selected>全部</option>
                                        <option value="0">已生成</option>
                                        <option value="1">已生效</option>
                                        <option value="2">起租</option>
                                        <option value="3">已结清</option>
                                        <option value="4">已作废</option>
                                    </select>

						</div>
					</div>
				</div>
			</div>
			<!--******更多条件放这里********-->
			<div class="hideRule">
				
				 <div class="row">
					<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">项目名称</label>
							<div class="col-md-8 col-sm-8" style="width:160px;">
							    <input type="text" name="prjName" class="form-control header-w150-input"
                                           data-bind="enable:false"
                                           data-imfbp-ref-bind="prjName"
                                           data-imfbp-ref-bind-field="" 
                                           data-imfbp-ref-value="">
                                    <div class="icon-wrap "  style="height:34px;top:1px">
                                        <i class="glyphicon glyphicon-th-list icon" id="icon"
                                           name="prjName"
                                           data-imfbp-ref-name='rzprjapplyref'
                                           data-imfbp-ref-use = 'true'
                                           data-imfbp-ref-fun="outRpcCallFunction" data-imfbp-ref="ref"  style="top:4px"></i>
                                    </div>
							</div>
						</div>
					</div>
					 <div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">项目状态</label>
							<div class="col-md-8 col-sm-8" style="width:160px;">
								<select type="text" name="prjState" class="form-control header-w150-input"
                                            data-bind="value:prjState">
                                        <option value="0" selected>报价单生成</option>
                                        <option value="1">立项中</option>
                                        <option value="2">项目评审中</option>
                                        <option value="3">合同签订中</option>
                                        <option value="4">项目已起租</option>
                                        <option value="5">项目租后管理中</option>
                                        <option value="6">项目结清</option>
                                        <option value="7">项目合同作废</option>
                                    </select>
							</div>
						</div>
					</div>  
				    <div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right" style="line-height:17px;">合同起租日期</label>
							<div class="col-md-8 col-sm-8" style="width:160px;">
							 <div class="" style="width:150px;">
                                <div class="input-group date form_hhg_date col-md-8"
                                     data-date="" data-date-format="yyyy-MM-dd"
                                     data-link-field="visitDate" data-link-format="yyyy-mm-dd">
                                    <input class="form-control header-w150-input" size="16" name="startLeaseDate"
                                           type="text" data-bind="value:startLeaseDate"
                                           value="" readonly style="border-right:none !important;border-radius:4px 0 0 4px !important; width:111px !important">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar">
									</span>
								</span>
                                </div>
                             </div>
							</div>
						</div>
					</div>  
				 	<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right" style="line-height:17px;">合同结束日期</label>
							<div class="col-md-8 col-sm-8" style="width:160px;">
							   <div class="" style="width:150px">
                                <div class="input-group date form_hhg_date col-md-8"
                                     data-date="" data-date-format="yyyy-MM-dd"
                                     data-link-field="visitDate" data-link-format="yyyy-mm-dd">
                                    <input class="form-control header-w150-input" size="16" name="endLeaseDate"
                                           type="text" data-bind="value:endLeaseDate"
                                           value="" readonly style="border-right:none !important;border-radius:4px 0 0 4px !important;width: 111px !important;">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar">
									</span>
								</span>
                              </div>
							</div>
						</div>
					</div>
				</div> 
				 <div class="row">
					 <div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right" style="line-height:17px">合同期限(月)</label>
							<div class="col-md-8 col-sm-8" style="width:160px;">
								<input type="text" name="leaseprd" class="form-control header-w150-input" data-bind="value:leaseprd">
							</div>
						</div>
					</div> 
					<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">项目经理</label>
							<div class="col-md-8 col-sm-8" style="width:160px;">
									<input type="text" name="pkUserManager" class="form-control header-w150-input"
                                           data-bind="enable:false"
                                           data-imfbp-ref-bind="pkUserManager"
                                           data-imfbp-ref-bind-field="" data-imfbp-ref-value>
                                    <div class="icon-wrap "  style="height:34px;top:1px">
                                        <i class="glyphicon glyphicon-th-list icon" id="icon"
                                           data-imfbp-ref-name='userref' name="pkUserManager"
                                           data-imfbp-ref-use = 'true'
                                           data-imfbp-ref-fun="outRpcCallFunction" data-imfbp-ref="ref"  style="top:4px"></i>
                                    </div>
							</div>
						</div>
					</div>
					 <div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:216px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">业务类型</label>
							<div class="col-md-8 col-sm-8" style="width:160px;">
								<select type="text" name="busitype" class="form-control header-w150-input"
                                            data-bind="value:busitype">
                                        <option value="" selected>全部</option>
                                        <option value="0">已生成</option>
                                        <option value="1">已生效</option>
                                        <option value="2">起租</option>
                                        <option value="3">已结清</option>
                                        <option value="4">已作废</option>
                                    </select>
							</div>
						</div>
					</div>
					
				</div>   
				
			</div>
		</div>
		<!-- 展开更多的一行-->
		<div class="searchToolsbar">
			<div data-target=".hideRule" data-toggle="collapse" class="moreRule">
				<span>展开更多查询条件</span>
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</div>
			<div class="search-box">
				<button type="button" class="btn btn-default btn-sm reset-btn">重置</button>
				<button type="button" class="btn btn-default btn-sm search-btn">查询</button>
			</div>
		</div> 
	</form>
</div>
<!-- search end -->