<div class="panel panel-default">
	<div class="panel-heading ">
		<button type="button" class="btn btn-default btn-sm save-btn">保存</button>
		<button type="button" class="btn btn-default btn-sm back-btn">取消</button>
	</div>
	<div class="panel-body" data-bind="with:editData">
		<form class="templateRulesDefEditForm form-horizontal">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="id" class="form-control" data-bind="value:id,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">节点模板分配id</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="templateNodeId" class="form-control" data-bind="value:templateNodeId,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">输入项id</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="inputItemId" class="form-control" data-bind="value:inputItemId,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">字段类型</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="itemType" class="form-control" data-bind="value:itemType,enable:enableState">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">VO限定名</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="voName" class="form-control" data-bind="value:voName,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">取数表名</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="tableName" class="form-control" data-bind="value:tableName,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">字段名称</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="itemName" class="form-control" data-bind="value:itemName,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">时间戳</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="ts" class="form-control" data-bind="value:ts,enable:enableState">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">删除标识</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="dr" class="form-control" data-bind="value:dr,enable:enableState">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


