<div class="panel panel-default">
	<div class="panel-heading footer-saveOrCancel">
		<button type="button" class="btn btn-default btn-sm save-btn">保存</button><button type="button" class="btn btn-default btn-sm back-btn">取消</button>
	</div>
	<div class="panel-body form-parent" data-bind="with:editData">
		<form class="rzDocFileEditForm form-horizontal">
		
			<div class="reportBaseInfo row panel  slideParent">
				<div class="col-xs-12 panel-heading" data-toggle="collapse"
					data-target="#reportBaseInfo">
					<h5>新增附件信息</h5><span class="glyphicon glyphicon-chevron-up" style="left: 160px"></span>
				</div>
				<div class="col-xs-12 panel-body collapse in" id="reportBaseInfo">
		
		
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="id" class="form-control content-w210-input" data-bind="value:id,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">节点编码</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="nodeCode" class="form-control content-w210-input" data-bind="value:nodeCode,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">单据id</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="billId" class="form-control content-w210-input" data-bind="value:billId,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租户id</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="tenantId" class="form-control content-w210-input" data-bind="value:tenantId,enable:enableState">
						</div>
					</div>
				</div>
		
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">创建人</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="creator" class="form-control content-w210-input" data-bind="value:creator,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">创建时间</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="createdtime" class="form-control content-w210-input" data-bind="value:createdtime,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">操作者</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="operator" class="form-control content-w210-input" data-bind="value:operator,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">操作时间</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="operationtime" class="form-control content-w210-input" data-bind="value:operationtime,enable:enableState">
						</div>
					</div>
				</div>
		
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">修改人</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="modifier" class="form-control content-w210-input" data-bind="value:modifier,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">修改时间</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="modifiedtime" class="form-control content-w210-input" data-bind="value:modifiedtime,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">时间戳</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="ts" class="form-control content-w210-input" data-bind="value:ts,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">删除标识</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="dr" class="form-control content-w210-input" data-bind="value:dr,enable:enableState">
						</div>
					</div>
				</div>
	
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">文件名称</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="filename" class="form-control content-w210-input" data-bind="value:filename,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">文件描述</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="description" class="form-control content-w210-input" data-bind="value:description,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">上传人</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="uploader" class="form-control content-w210-input" data-bind="value:uploader,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">上传时间</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="uploadtime" class="form-control content-w210-input" data-bind="value:uploadtime,enable:enableState">
						</div>
					</div>
				</div>
	
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">文件类型</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="filetype" class="form-control content-w210-input" data-bind="value:filetype,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">文件长度</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="filelength" class="form-control content-w210-input" data-bind="value:filelength,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">文件id</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="fileFastdfsId" class="form-control content-w210-input" data-bind="value:fileFastdfsId,enable:enableState">
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
		</form>
	</div>
</div>


