<div class="panel panel-default">
	<div class="panel-heading ">
		<button type="button" class="btn btn-default btn-sm save-btn">保存</button>
		<button type="button" class="btn btn-default btn-sm back-btn">取消</button>
	</div>
	<div class="panel-body" data-bind="with:editData">
		<form class="rzRateBEditForm form-horizontal">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="pkRateB" class="form-control" data-bind="value:pkRateB,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">利率主表主键</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="pkRate" class="form-control" data-bind="value:pkRate,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">期限主键</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="pkRateprd" class="form-control" data-bind="value:pkRateprd,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">利率(%)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="rate" class="form-control" data-bind="value:rate,enable:enableState">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


