<title>rzOverdueDerate</title>
<body>
<div id="rzOverdueDerateModule" >
	
	<!-- list page start -->
	<div class="listPage startPage">
		#parse("/WEB-INF/vm/rzOverdueDerate/rzOverdueDerateSearch.vm")
		#parse("/WEB-INF/vm/rzOverdueDerate/rzOverdueDerateList.vm")
	</div>
	<!-- list page end -->
	
	<!-- edit page end -->
	<div class="rzOverdueDerateEdit" style="display:none;">
		#parse("/WEB-INF/vm/rzOverdueDerate/rzOverdueDerateEdit.vm")
	</div>
	<!-- edit page end -->
</div>


<script>

jQuery(function(){

	
	//列表后台访问地址
	var url_page = '$homeModule.getTarget('/rzOverdueDerate/getRzOverdueDerateByPage')';
	//添加修改后台访问地址
	var url_add = '$homeModule.getTarget('/rzOverdueDerate/insertOrUpdate')';
	//删除后台访问地址
	var url_del = '$homeModule.getTarget('/rzOverdueDerate/deleteRzOverdueDerateByBatchId')';
	
	//列表后台访问地址
	var url_plan_page = '$homeModule.getTarget('/rzOverdueDeratePlan/getRzOverdueDeratePlanByPage')';
	
	//查询对象
	var queryData = new RzOverdueDerateView();
	//编辑对象
	var editData = new RzOverdueDerateView();
	//空对象用来清空编辑和查询对象
	var emptyData = new RzOverdueDerateView();
	
	//查询对象
	var queryDataPlan = new RzOverdueDeratePlanView();
	//编辑对象
	var editDataPlan = new RzOverdueDeratePlanView();
	//空对象用来清空编辑和查询对象
	var emptyDataPlan = new RzOverdueDeratePlanView();
	
	window.viewModel={
		queryData:ko.mapping.fromJS(queryData),
		editData:ko.mapping.fromJS(editData),
		editDataPlan:ko.mapping.fromJS(editDataPlan),
		queryDataPlan:ko.mapping.fromJS(queryDataPlan),
		pageState:ko.observable("")
	}
	
	/**
	 * 表头
	 */
	var col = [
	{
		field:"derateNo",
		title:"减免单号"
	},{
		field:"derateApplyDate",
		title:"减免申请日期"
	}
	,{
		field:"pkPrjcontr",
		title:"合同编码",
		imfbpRefType: "rzprjcontrref",
		renderType:"imfbpRefTransform",
	},{
		field:"contrName",
		title:"合同名称",
		
	},{
		field:"prjCode",
		title:"项目编号"
	},{
		field:"pkCustomer",
		title:"客户名称",
		imfbpRefType: "customerref",
        renderType:"imfbpRefTransform",
	},
	{
		field:"defIntDate",
		title:"罚息日期"
	},
	{
		field:"itemamt",
		title:"项目金额(元)"
	},
	{
		field:"",
		title:"项目余额(元)"
	},
	{
		field:"contrAmt",
		title:"合同金额(元)"
	},
	{
		field:"",
		title:"合同余额额(元)"
	},
	{
		field:"contrPrinBal",
		title:"合同剩余本金(元)"
	},{
		field:"rpmtGrace",
		title:"还款宽限期"
	},{
		field:"overdueAmt",
		title:"逾期金额(元)"
	},{
		field:"receivableDefIntAmt",
		title:"应收罚息金额((元)"
	},{
		field:"actDefInt",
		title:"实收罚息(元)"
	},
	{
		field:"receivableNrcyAmt",
		title:"应收未收合计(元)"
	},
	{
		field:"actDerateDefInt",
		title:"实际已减免罚息"
	},{
		field:"currDerateDefIntApply",
		title:"本次申请减免罚息"
	},{
		field:"remark",
		title:"减免罚息原因"
	},
	{
		field:"approvestatus",
		title:"审批状态"
	},
	{
		field:"pkOrg",
		title:"组织机构",
		imfbpRefType:'orgref',
		renderType:"imfbpRefTransform",
	},{
		field:"pkDept",
		title:"部门",
		imfbpRefType:'deptref',
		renderType:"imfbpRefTransform",
	},{
		field:"billmaker",
		title:"制单人",
		 imfbpRefType:'userref',
		 renderType:"imfbpRefTransform",
	},{
		field:"billdate",
		title:"制单日期"
	},{
		field:"approveid",
		title:"审批人",
		imfbpRefType:'userref',
		 renderType:"imfbpRefTransform",
	},{
		field:"approvedate",
		title:"审批时间"
	}];
    
	/**
	 * 表头
	 */
	 var col_plan = [{
			field:"num",
			title:"期数"
		},{
			field:"receivableDate",
			title:"应收款日期"
		},{
			field:"receivableTotal",
			title:"应收款合计(元)",
			renderType:function(obj){
       	 if (obj.value == 0){
        		var html =  "<span></span>";
        	 }else{
	         	var formater = new u.NumberFormater(2);
	 			var masker = new u.NumberMasker(null);
	 			var svalue = masker.format(formater.format(obj.value)).value
	         	var html =  "<span>"+ svalue +"</span>";
        	}
    	 	var innerDom = u.makeDOM(html);
    	 	obj.element.appendChild(innerDom);
        }
		},{
			field:"realTotal",
			title:"实收款合计(元)",
			renderType:function(obj){
       	 if (obj.value == 0){
        		var html =  "<span></span>";
        	 }else{
	         	var formater = new u.NumberFormater(2);
	 			var masker = new u.NumberMasker(null);
	 			var svalue = masker.format(formater.format(obj.value)).value
	         	var html =  "<span>"+ svalue +"</span>";
        	}
    	 	var innerDom = u.makeDOM(html);
    	 	obj.element.appendChild(innerDom);
        }
		},{
			field:"receivableNrcyTotal",
			title:"应收未收合计(元)",
			renderType:function(obj){
       	 if (obj.value == 0){
        		var html =  "<span></span>";
        	 }else{
	         	var formater = new u.NumberFormater(2);
	 			var masker = new u.NumberMasker(null);
	 			var svalue = masker.format(formater.format(obj.value)).value
	         	var html =  "<span>"+ svalue +"</span>";
        	}
    	 	var innerDom = u.makeDOM(html);
    	 	obj.element.appendChild(innerDom);
        }
		},{
			field:"overdueDays",
			title:"逾期天数"
		},{
			field:"overdueRate",
			title:"逾期利率(%)"
		},{
			field:"receivableDefInt",
			title:"应收罚息(元)",
			renderType:function(obj){
       	 if (obj.value == 0){
        		var html =  "<span></span>";
        	 }else{
	         	var formater = new u.NumberFormater(2);
	 			var masker = new u.NumberMasker(null);
	 			var svalue = masker.format(formater.format(obj.value)).value
	         	var html =  "<span>"+ svalue +"</span>";
        	}
    	 	var innerDom = u.makeDOM(html);
    	 	obj.element.appendChild(innerDom);
        }
		},{
			field:"receivableNrcyDefInt",
			title:"应收未收罚息(元)",
			renderType:function(obj){
       	 if (obj.value == 0){
        		var html =  "<span></span>";
        	 }else{
	         	var formater = new u.NumberFormater(2);
	 			var masker = new u.NumberMasker(null);
	 			var svalue = masker.format(formater.format(obj.value)).value
	         	var html =  "<span>"+ svalue +"</span>";
        	}
    	 	var innerDom = u.makeDOM(html);
    	 	obj.element.appendChild(innerDom);
        }
		},{
			field:"actOverdur",
			title:"实际减免罚息(元)",
			renderType:function(obj){
       	 if (obj.value == 0){
        		var html =  "<span></span>";
        	 }else{
	         	var formater = new u.NumberFormater(2);
	 			var masker = new u.NumberMasker(null);
	 			var svalue = masker.format(formater.format(obj.value)).value
	         	var html =  "<span>"+ svalue +"</span>";
        	}
    	 	var innerDom = u.makeDOM(html);
    	 	obj.element.appendChild(innerDom);
        }
		},{
			field:"curOverdurApply",
			title:"本次申请减免罚息(元)",
			renderType:function(obj){
       	 if (obj.value == 0){
        		var html =  "<span></span>";
        	 }else{
	         	var formater = new u.NumberFormater(2);
	 			var masker = new u.NumberMasker(null);
	 			var svalue = masker.format(formater.format(obj.value)).value
	         	var html =  "<span>"+ svalue +"</span>";
        	}
    	 	var innerDom = u.makeDOM(html);
    	 	obj.element.appendChild(innerDom);
        }
	 	}];
	
	/**
     * 初始化layoutMDI
     */
	$("#rzOverdueDerateModule").layoutMDI({
		//当页面后退时候触发的事件
		onBackPage: function(target, options) {
			ko.mapping.fromJS(emptyData,viewModel.editData);
		} 
	});
	
	/**
     * 创建一个表格，但是没有赋值dataSource数据，这是表格将没有数据
	 */
	var gridObj = $("#rzOverdueDerateModule .rzOverdueDerateList").grid({
		dataSource:'',
    	id: 'case-g1',
   		keyField: 'id',
   		parentKeyField: 'pid',
    	multiSelect: true,
    	showNumCol:true,
    	height: 250,
    	columns: col,
    	onDblClickFun:function(gridObj,rowObj,rowIndex){
    		
    		$("#rzOverdueDerateModule .toolPanelAdd").hide();
        	$("#rzOverdueDerateModule .toolPanelEdit").hide();
       	 	$("#rzOverdueDerateModule .toolPanelQuery").show();
    		
    		setTraslateFunction();
			//设置页面的输入框为不可修改
			viewModel.editData.enableState(false);
			//得到点击行
    		var dbClickRow = gridObj.rowObj;
			
			
    		//赋值
    		ko.mapping.fromJS(dbClickRow.value, viewModel.editData);
    		//跳转到编辑页
        	$("#rzOverdueDerateModule").layoutMDI("go", ".rzOverdueDerateEdit");
    	},
    	onBeforeClickFun:function(gridObj,rowObj,rowIndex){
    		var clickRow = gridObj.rowObj;
    		var pkOverdueDerate = clickRow.value.pkOverdueDerate;
    		jQuery("#rzOverdueDerateModule .rzOverdueDeratePlanList").gridPlugin("load",{pkOverdueDerate:pkOverdueDerate});
    	}
    	
    });
	
	/**
	 * 初始化分页
	 */
	var paginationObj = $("#rzOverdueDerateModule .main .pagination").pagination({
		pageSize:10,
		styleMode:2,
		onSelectPage:function(pageNumber, pageSize){
			var queryData = $.extend(ko.mapping.toJS(viewModel.queryData),{pageNumber:pageNumber,pageSize:pageSize});
			jQuery("#rzOverdueDerateModule .rzOverdueDerateList").gridPlugin("reLoad",queryData);
		}
	});
	
	var gridObjPlan = $("#rzOverdueDerateModule .rzOverdueDeratePlanList").grid({
		dataSource:'',
    	id: 'case-g2',
   		keyField: 'id',
   		parentKeyField: 'pid',
    	multiSelect: true,
    	showNumcol:true,
    	height: 370,
    	columns: col_plan,
    	onDblClickFun:function(gridObjPlan,rowObj,rowIndex){
			//设置页面的输入框为不可修改
			viewModel.editDataPlan.enableState(false);
			//得到点击行
    		var dbClickRow = gridObjPlan.rowObj;
    		//赋值
    		ko.mapping.fromJS(dbClickRow.value, viewModel.editDataPlan);
    		//跳转到编辑页
        	$("#rzOverdueDeratePlanModule").layoutMDI("go", ".rzOverdueDeratePlanEdit");
    	}
    });
	var gridObjPlan = $("#rzOverdueDerateModule .rzOverdueDeratePlanEditList").grid({
		dataSource:'',
    	id: 'case-g3',
   		keyField: 'id',
   		parentKeyField: 'pid',
    	multiSelect: true,
    	showNumcol:true,
    	height: 370,
    	columns: col_plan,
    	onDblClickFun:function(gridObjPlan,rowObj,rowIndex){
			//设置页面的输入框为不可修改
			viewModel.editDataPlan.enableState(false);
			//得到点击行
    		var dbClickRow = gridObjPlan.rowObj;
    		//赋值
    		ko.mapping.fromJS(dbClickRow.value, viewModel.editDataPlan);
    		//跳转到编辑页
        	$("#rzOverdueDeratePlanModule").layoutMDI("go", ".rzOverdueDeratePlanEdit");
    	}
    });
	
	/**
	 * 初始化分页
	 */
	var paginationObjPlan = $("#rzOverdueDerateModule  .plan .pagination").pagination({
		pageSize:10,
		styleMode:2,
		onSelectPage:function(pageNumber, pageSize){
			var queryDataPlan = $.extend(ko.mapping.toJS(viewModel.queryDataPlan),{pageNumber:pageNumber,pageSize:pageSize});
			jQuery("#rzOverdueDerateModule .rzOverdueDeratePlanList").gridPlugin("reLoad",queryDataPlan);
		}
	});
	var paginationObjEditPlan = $("#rzOverdueDerateModule .Editplan .pagination").pagination({
		pageSize:10,
		styleMode:2,
		onSelectPage:function(pageNumber, pageSize){
			var queryDataPlan = $.extend(ko.mapping.toJS(viewModel.queryDataPlan),{pageNumber:pageNumber,pageSize:pageSize});
			jQuery("#rzOverdueDerateModule .rzOverdueDeratePlanList").gridPlugin("reLoad",queryDataPlan);
		}
	});
	
	/**
	 * 初始化表格插件
	 */
	var gridPluginObjPlan = jQuery("#rzOverdueDerateModule .rzOverdueDeratePlanList").gridPlugin({
		url: url_plan_page,
		gridObj:gridObjPlan,
		queryParam:getPlanParams(),
		pagination:false,//是否分页默认为否
		paginationObj:paginationObjPlan,//分页控件对象
		initData:false,//初始化时候是否加载数据(true时候加载，false时候不加载)
		onDataSuccess:function(data){
			//当列表加载成功之后调用
		},
		onDataError:function(data){
			//当列表加载失败之后调用
		},
	})
	var gridPluginObjEditPlan = jQuery("#rzOverdueDerateModule .rzOverdueDeratePlanEditList").gridPlugin({
		url: url_plan_page,
		gridObj:gridObjPlan,
		queryParam:getPlanParams(),
		pagination:false,//是否分页默认为否
		paginationObj:paginationObjEditPlan,//分页控件对象
		initData:false,//初始化时候是否加载数据(true时候加载，false时候不加载)
		onDataSuccess:function(data){
			//当列表加载成功之后调用
		},
		onDataError:function(data){
			//当列表加载失败之后调用
		},
	})
	
	
	/**
	 * 初始化表格插件
	 */
	var gridPluginObj = jQuery("#rzOverdueDerateModule .rzOverdueDerateList").gridPlugin({
		url: url_page,
		gridObj:gridObj,
		queryParam:getParams(),
		pagination:true,//是否分页默认为否
		paginationObj:paginationObj,//分页控件对象
		initData:false,//初始化时候是否加载数据(true时候加载，false时候不加载)
		onDataSuccess:function(data){
			//当列表加载成功之后调用
			var d ={};
			imfbpDataTableTranform(gridObj, data.rows,function(){
				d.values = data.rows;
				gridObj.setDataSource(d);
			});
		},
		onDataError:function(data){
			//当列表加载失败之后调用
		},
	})
	
	/**
	 * form表单插件
	 */
	jQuery("#rzOverdueDerateModule .rzOverdueDerateEditForm").formPlugin({
		url: url_add,//添加修改的地址
		gridPlugin:gridPluginObj,//表格插件对象
		onSaveSuccess:function(data){
			//保存成功后退出编辑页面
			$("#rzOverdueDerateModule").layoutMDI("back");
		},
		onSaveError:function(data){
			//保存失败回调事件
		},
		onSaveError:function(data){
			//保存失败回调事件
			jQuery("#rzOverdueDerateModule .rzOverdueDerateList").gridPlugin("load", {});
		},
		onDeleteSuccess:function(data){
			
		}
	})
	
	/**
	 * 新增功能
	 */			
    jQuery("#rzOverdueDerateModule .toolsbarPanel .add-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为添加状态
		viewModel.pageState(pageState.add);
		
		$("#rzOverdueDerateModule .toolPanelAdd").show();
    	$("#rzOverdueDerateModule .toolPanelEdit").hide();
   	 	$("#rzOverdueDerateModule .toolPanelQuery").hide();
		
		
		$.each(viewModel.editData,function(filed, item){
	 		if(filed == "approvestatus"){
                item("0");
            }
            if(filed == "pkOrg"){
               item(loginorg);
            }
            if(filed == "pkDept"){
               item(logindept);
              }
            if(filed == "billmaker"){
               item(loginuser);
              }
            if(filed == "operator"){
               item(loginuser);
              }
            if(filed.indexOf("time")!=-1){
            	item(getnowtime());
            }
            if(filed.indexOf("date")!=-1 && filed !='approvedate'){
            	item(getnowdate());
            }
            if(filed.indexOf("derateApplyDate")!=-1){
            	item(getnowdate());
            }
	 	});
		
		 var defaultData = [];
         var dData = {
             billmaker : loginuser,
             operator : loginuser,
             pkOrg : loginorg,
             pkDept : logindept,
             pkDeptApply:logindept,
         };
         defaultData.push(dData);
    	viewModel.editData.enableState(true);
    	 imfbpDataTableTranform(gridObj, defaultData, function(){
    		 setTraslateFunction();
         });
        $("#rzOverdueDerateModule").layoutMDI("go", ".rzOverdueDerateEdit");
    });

	/**
	 * 修改功能
	 */		    
    jQuery("#rzOverdueDerateModule .toolsbarPanel .update-btn").click(function(){
    	$("#rzOverdueDerateModule .toolPanelAdd").hide();
    	$("#rzOverdueDerateModule .toolPanelEdit").show();
   	 	$("#rzOverdueDerateModule .toolPanelQuery").hide();
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为修改状态
		viewModel.pageState(pageState.edit);
    	//当前选中行
    	var selectRow = gridObj.getSelectRows();
    	//将数据绑定到表单上面
    	ko.mapping.fromJS(selectRow[0], viewModel.editData);
    	//跳转到编辑页面
        $("#rzOverdueDerateModule").layoutMDI("go", ".rzOverdueDerateEdit");
    });

	/**
	 * 删除功能
	 */	    
    jQuery("#rzOverdueDerateModule .toolsbarPanel .delete-btn").click(function(){
    	//要删除的id用","隔开
		var batchId = "";
		//当前选中行
		var selectRow = gridObj.getSelectRows();
		//判断是否选中要删除的数据
		if(selectRow.length == 0) {
			alert("请选择您要修改的数据");
			return;
		}
	
		for(var i = 0; i < selectRow.length; i++) {
			var row = selectRow[i];
			if(i == 0) {
				batchId = row["pkOverdueDerate"] + batchId;
			} else {
				batchId = row["pkOverdueDerate"] + "," + batchId;
			}
		}
		//删除数据
		jQuery("#rzOverdueDerateModule .rzOverdueDerateEditForm").formPlugin("remove",{batchId:batchId,url:url_del});
    });
    
    /**
	 * 刷新功能(只是刷新当前页，如果要刷新所有页面使用 load 方法)
	 */	 
    jQuery("#rzOverdueDerateModule .toolsbarPanel .refresh-btn").click(function(){
		jQuery("#rzOverdueDerateModule .rzOverdueDerateList").gridPlugin("reLoad",viewModel.queryData);
    });
    
    //保存功能
	jQuery("#rzOverdueDerateModule .rzOverdueDerateEdit .save-btn").click(function(){
		if(viewModel.pageState()=="add"){
			ko.mapping.fromJS(emptyData,viewModel.queryData);
		}
		var param = {
			formData:ko.mapping.toJS(viewModel.editData),//要提交的数据
			queryData:ko.mapping.toJS(viewModel.queryData),//修改完毕刷新表格的参数
			editType:viewModel.pageState()//页面的状态(add：添加，edit:编辑)
		}
		jQuery("#rzOverdueDerateModule .rzOverdueDerateEditForm").formPlugin("save",param);
	});
	
	//查找功能
	jQuery("#rzOverdueDerateModule .searchToolsbar .search-btn").click(function(){
		jQuery("#rzOverdueDerateModule .rzOverdueDerateList").gridPlugin("load",ko.mapping.toJS(viewModel.queryData));
	});
	
	//重置查询条件功能
	jQuery("#rzOverdueDerateModule .searchToolsbar .reset-btn").click(function(){
		ko.mapping.fromJS(emptyData,viewModel.queryData);
	});
	
	//编辑页返回
	jQuery("#rzOverdueDerateModule .rzOverdueDerateEdit .back-btn").click(function(){
		$("#rzOverdueDerateModule").layoutMDI("back");
	});
	
	
	 //审核功能
	jQuery("#rzOverdueDerateModule .check-btn").click(function(){
		
	});
	jQuery("#rzOverdueDerateModule .cancel-btn").click(function(){
		$("#rzOverdueDerateModule").layoutMDI("back");
	});
	jQuery("#rzOverdueDerateModule  .save_submit-btn").click(function(){
		viewModel.editData.approvestatus("1");
		saveFun();
		$("#rzOverdueDerateModule").layoutMDI("back");
	});
	jQuery("#rzOverdueDerateModule .toolPanelEdit .smt-btn,#rzOverdueDerateModule .toolPanelQuery .smt-btn").click(function(){
		viewModel.editData.approvestatus("1");
		saveFun();
		$("#rzOverdueDerateModule").layoutMDI("back");
	});
	jQuery("#rzOverdueDerateModule .toolPanelAdd .save-btn,#rzOverdueDerateModule .toolPanelEdit .save-btn,#rzOverdueDerateModule .toolPanelQuery .save-btn").click(function(){
		saveFun();
	});
	jQuery("#rzOverdueDerateModule .toolPanelQuery .update-btn").click(function(){
		viewModel.editData.enableState(true);
	});
	
	jQuery("#rzOverdueDerateModule .toolPanelAdd .dele-btn,#rzOverdueDerateModule .toolPanelEdit .dele-btn,#rzOverdueDerateModule .toolPanelQuery .dele-btn").click(function(){
		if (viewModel.editData.pkPrjapply()){
			jQuery("#rzOverdueDerateModule .rzOverdueDerateEditForm").formPlugin("remove",{batchId:viewModel.editData.pkPrjapply(),url:url_del});
			$("#rzOverdueDerateModule").layoutMDI("back");
		}
	});
	
	function saveFun(){
    	 validatorForm();
    	 validatorReportForm();
   /*  	if(viewModel.pageState()=="add"){
			viewModel.editData.approvestatus("1");
			ko.mapping.fromJS(emptyData,viewModel.queryData);
		} */
		var param = {
			formData:ko.mapping.toJS(viewModel.editData),//要提交的数据
			queryData:ko.mapping.toJS(viewModel.queryData),//修改完毕刷新表格的参数
			editType:viewModel.pageState()//页面的状态(add：添加，edit:编辑)
		}
		//赋值
		 $('.rzOverdueDerateEditForm').bootstrapValidator('validate');
	    if($('.rzOverdueDerateEditForm').data('bootstrapValidator').isValid()) { 
			jQuery("#rzOverdueDerateModule .rzOverdueDerateEditForm").formPlugin("save",param);
		}
    }
	

	ko.applyBindings(viewModel);

	getBusitypeAtLoad();
	setTraslateFunction();
	
	$('.form_hhg_date').datetimepicker({
	    language: 'cn',
	    weekStart: 1,
	    todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		autoclose: true,
		todayHighlight: true,
	});
	function getnowdate(){
		var date=new Date();
		var yy=date.getFullYear();
		var MM=date.getMonth()+1;
		var DD=date.getDate();
		if(DD<10){
			DD="0"+DD;
		}
		if(MM<10){
			MM="0"+MM;
		}
		var nowdate=yy+"-"+MM+"-"+DD;	
		return nowdate;
	}
	function getnowtime(){
		Date.prototype.Format = function (fmt) { //author: meizz
		    var o = {
		        "M+": this.getMonth() + 1, //月份
		        "d+": this.getDate(), //日
		        "h+": this.getHours(), //小时
		        "m+": this.getMinutes(), //分
		        "s+": this.getSeconds(), //秒
		        "q+": Math.floor((this.getMonth() + 3) / 3), //季度
		        "S": this.getMilliseconds() //毫秒
		    };
		    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
		    for (var k in o)
		        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
		    return fmt;
		}
		return new Date().Format("yyyy-MM-dd hh:mm:ss");
	}
});

function getBusitype(){
	$.getJSON("$homeModule.getTarget('/rzPricecal/getAllBusyType')").done(function(data){
       return viewModel.editData.busyTypeList(data.map.busyTypeList);
     }).fail(function(data){layer.alert("获取业务类型失败");});
}
function getBusitypeAtLoad(){
	$.getJSON("$homeModule.getTarget('/rzPricecal/getAllBusyType')").done(function(data){
       return viewModel.queryData.busyTypeList(data.map.busyTypeList);
     }).fail(function(data){layer.alert("获取业务类型失败");});
}

function setTraslateFunction(){
    refManager.setRefArea("#rzOverdueDerateModule");
    refManager.initAreaLoadData("#rzOverdueDerateModule", function(name){
        var fun = viewModel.editData[name];
        if(typeof fun == 'function'){
            return fun();
        }
    });
}

function RzOverdueDerateView(){
	//主键
	this.pkOverdueDerate="";
	//合同主键
	this.pkPrjcontr="";
	//合同编号
	this.contrCode="";
	//合同名称
	this.contrName="";
	//项目编号
	this.prjCode="";
	//项目名称
	this.prjName="";
	//项目余额(元)
	this.itembal="";
	//减免单号
	this.derateNo="";
	//减免申请日期
	this.derateApplyDate="";
	//客户名称主键
	this.pkCustomer="";
	//合同金额(元)
	this.contrAmt="";
	//项目金额(元)
	this.itemamt="";
	//当前租金余额
	this.curRentBal="";
	//合同剩余本金(元)
	this.contrPrinBal="";
	//租赁利率(%)
	this.pricerate="";
	//当前租赁利率(%)
	this.curPricerate="";
	//还款宽限期
	this.rpmtGrace="";
	//逾期金额(元)
	this.overdueAmt="";
	//逾期天数
	this.overdueDays="";
	//应收罚息金额((元)
	this.receivableDefIntAmt="";
	//实收罚息(元)
	this.actDefInt="";
	//实际已减免罚息
	this.actDerateDefInt="";
	//本次申请减免罚息
	this.currDerateDefIntApply="";
	//减免罚息原因
	this.remark="";
	//罚息单号
	this.defIntNo="";
	//罚息日期
	this.defIntDate="";
	//应收未收合计(元)
	this.receivableNrcyAmt="";
	//机构外键
	this.pkOrg="";
	//部门外键
	this.pkDept="";
	//制单人
	this.billmaker="";
	//制单日期
	this.billdate="";
	//审批人
	this.approveid="";
	//审批时间
	this.approvedate="";
	//审批状态(0 自由 1提交 2 审批中 3 审批通过 4 审批不通过)
	this.approvestatus="";
	//审批语
	this.approvenote="";
	//录入人
	this.operator="";
	//录入时间
	this.operatordatetime="";
	//修改人
	this.modifor="";
	//修改时间
	this.modifydatetime="";
	//流程实例ID
	this.flowinstanceid="";
	//
	this.ts="";
	//0 未删除 1已删除
	this.dr="";
	//
	this.def1="";
	//
	this.def2="";
	//
	this.def3="";
	//
	this.def4="";
	//
	this.def5="";
	//编辑页面状态
	this.enableState=true;
	
	this.busyTypeList="";
	
	this.endLeaseDate="";
	
	this.startLeaseDate="";
	
	this.busitype="";
	
	this.prjState ="";
	
}

function RzOverdueDeratePlanView(){
	//主键
	this.pkOverdueDeratePlan="";
	//主表主键
	this.pkOverdueDerate="";
	//期数
	this.num="";
	//序号
	this.seqno="";
	//应收款日期
	this.receivableDate="";
	//应收款合计(元)
	this.receivableTotal="";
	//实收款合计(元)
	this.realTotal="";
	//应收未收合计(元)
	this.receivableNrcyTotal="";
	//逾期天数
	this.overdueDays="";
	//逾期利率(%)
	this.overdueRate="";
	//应收罚息(元)
	this.receivableDefInt="";
	//应收未收罚息(元)
	this.receivableNrcyDefInt="";
	//实际减免罚息(元)
	this.actOverdur="";
	//本次申请减免罚息(元)
	this.curOverdurApply="";
	//编辑页面状态
	this.enableState=true;
}

function getParams(selector){
	return {};
}
function getPlanParams(){
	return {}
}
function headerRefCallFunction(eleObj, data, name, id) {
	debugger;
	ko.mapping.fromJS(data,viewModel.editData);
}

function outerRefCallFunction(eleObj, data, name, id) {
	  var fun = viewModel.editData[name];
	    if(typeof fun == 'function'){
			fun(data[id]);
	    }
}


</script>
	
</body>