<title>rzPrjcontrInsEqpt</title>
<body>
<div id="rzPrjcontrInsEqptModule" >
	
	<!-- list page start -->
	<div class="listPage startPage">
		#parse("/WEB-INF/vm/rzPrjcontrInsEqpt/rzPrjcontrInsEqptSearch.vm")
		#parse("/WEB-INF/vm/rzPrjcontrInsEqpt/rzPrjcontrInsEqptList.vm")
	</div>
	<!-- list page end -->
	
	<!-- edit page end -->
	<div class="rzPrjcontrInsEqptEdit" style="display:none;">
		#parse("/WEB-INF/vm/rzPrjcontrInsEqpt/rzPrjcontrInsEqptEdit.vm")
	</div>
	<!-- edit page end -->
	
</div>


<script>

jQuery(function(){

	
	//列表后台访问地址
	var url_page = '$homeModule.getTarget('/rzPrjcontrInsEqpt/getRzPrjcontrInsEqptByPage')';
	//添加修改后台访问地址
	var url_add = '$homeModule.getTarget('/rzPrjcontrInsEqpt/insertOrUpdate')';
	//删除后台访问地址
	var url_del = '$homeModule.getTarget('/rzPrjcontrInsEqpt/deleteRzPrjcontrInsEqptByBatchId')';
	
	//查询对象
	var queryData = new RzPrjcontrInsEqptView();
	//编辑对象
	var editData = new RzPrjcontrInsEqptView();
	//空对象用来清空编辑和查询对象
	var emptyData = new RzPrjcontrInsEqptView();
	
	var viewModel={
		queryData:ko.mapping.fromJS(queryData),
		editData:ko.mapping.fromJS(editData),
		pageState:ko.observable("")
	}
	
	/**
	 * 表头
	 */
	var col = [{  
		field:"pkPrjcontrInsEqpt",
		title:"主键"
	},{
		field:"pkPrjcontrIns",
		title:"项目合同保险信息主键"
	},{
		field:"pkPrjcontr",
		title:"项目合同主键"
	},{
		field:"pkCustomer",
		title:"客户主键"
	},{
		field:"pkEqpt",
		title:"租赁设备外键"
 	}];
    
	
	/**
     * 初始化layoutMDI
     */
	$("#rzPrjcontrInsEqptModule").layoutMDI({
		//当页面后退时候触发的事件
		onBackPage: function(target, options) {
			ko.mapping.fromJS(emptyData,viewModel.editData);
		} 
	});
	
	/**
     * 创建一个表格，但是没有赋值dataSource数据，这是表格将没有数据
	 */
	var gridObj = $("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptList").grid({
		dataSource:'',
    	id: 'case-g1',
   		keyField: 'id',
   		parentKeyField: 'pid',
    	multiSelect: true,
    	showNumCol:true,
    	height: 370,
    	columns: col,
    	onDblClickFun:function(gridObj,rowObj,rowIndex){
			//设置页面的输入框为不可修改
			viewModel.editData.enableState(false);
			//得到点击行
    		var dbClickRow = gridObj.rowObj;
    		//赋值
    		ko.mapping.fromJS(dbClickRow.value, viewModel.editData);
    		//跳转到编辑页
        	$("#rzPrjcontrInsEqptModule").layoutMDI("go", ".rzPrjcontrInsEqptEdit");
    	}
    });
	
	/**
	 * 初始化分页
	 */
	var paginationObj = $("#rzPrjcontrInsEqptModule .pagination").pagination({
		pageSize:10,
		styleMode:2,
		onSelectPage:function(pageNumber, pageSize){
			var queryData = $.extend(ko.mapping.toJS(viewModel.queryData),{pageNumber:pageNumber,pageSize:pageSize});
			jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptList").gridPlugin("reLoad",queryData);
		}
	});
	
	/**
	 * 初始化表格插件
	 */
	var gridPluginObj = jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptList").gridPlugin({
		url: url_page,
		gridObj:gridObj,
		queryParam:getParams(),
		pagination:true,//是否分页默认为否
		paginationObj:paginationObj,//分页控件对象
		initData:false,//初始化时候是否加载数据(true时候加载，false时候不加载)
		onDataSuccess:function(data){
			//当列表加载成功之后调用
		},
		onDataError:function(data){
			//当列表加载失败之后调用
		},
	})
	
	/**
	 * form表单插件
	 */
	jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptEditForm").formPlugin({
		url: url_add,//添加修改的地址
		gridPlugin:gridPluginObj,//表格插件对象
		onSaveSuccess:function(data){
			//保存成功后退出编辑页面
			$("#rzPrjcontrInsEqptModule").layoutMDI("back");
		},
		onSaveError:function(data){
			//保存失败回调事件
		},
		onSaveError:function(data){
			//保存失败回调事件
			jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptList").gridPlugin("load", {});
		},
		onDeleteSuccess:function(data){
			
		}
	})
	
	/**
	 * 新增功能
	 */			
    jQuery("#rzPrjcontrInsEqptModule .toolsbarPanel .add2-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为添加状态
		viewModel.pageState(pageState.add);
        $("#rzPrjcontrInsEqptModule").layoutMDI("go", ".rzPrjcontrInsEqptEdit");
    });

	/**
	 * 修改功能
	 */		    
    jQuery("#rzPrjcontrInsEqptModule .toolsbarPanel .update-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为修改状态
		viewModel.pageState(pageState.edit);
    	//当前选中行
    	var selectRow = gridObj.getSelectRows();
    	//将数据绑定到表单上面
    	ko.mapping.fromJS(selectRow[0], viewModel.editData);
    	//跳转到编辑页面
        $("#rzPrjcontrInsEqptModule").layoutMDI("go", ".rzPrjcontrInsEqptEdit");
    });

	/**
	 * 删除功能
	 */	    
    jQuery("#rzPrjcontrInsEqptModule .toolsbarPanel .remove-btn").click(function(){
    	//要删除的id用","隔开
		var batchId = "";
		//当前选中行
		var selectRow = gridObj.getSelectRows();
		//判断是否选中要删除的数据
		if(selectRow.length == 0) {
			alert("请选择您要修改的数据");
			return;
		}
	
		for(var i = 0; i < selectRow.length; i++) {
			var row = selectRow[i];
			if(i == 0) {
				batchId = row["pkPrjcontrInsEqpt"] + batchId;
			} else {
				batchId = row["pkPrjcontrInsEqpt"] + "," + batchId;
			}
		}
		//删除数据
		jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptEditForm").formPlugin("remove",{batchId:batchId,url:url_del});
    });
    
    /**
	 * 刷新功能(只是刷新当前页，如果要刷新所有页面使用 load 方法)
	 */	 
    jQuery("#rzPrjcontrInsEqptModule .toolsbarPanel .refresh-btn").click(function(){
		jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptList").gridPlugin("reLoad",viewModel.queryData);
    });
    
    //保存功能
	jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptEdit .save-btn").click(function(){
		if(viewModel.pageState()=="add"){
			ko.mapping.fromJS(emptyData,viewModel.queryData);
		}
		var param = {
			formData:ko.mapping.toJS(viewModel.editData),//要提交的数据
			queryData:ko.mapping.toJS(viewModel.queryData),//修改完毕刷新表格的参数
			editType:viewModel.pageState()//页面的状态(add：添加，edit:编辑)
		}
		jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptEditForm").formPlugin("save",param);
	});
	
	//查找功能
	jQuery("#rzPrjcontrInsEqptModule .searchToolsbar .search-btn").click(function(){
		jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptList").gridPlugin("load",ko.mapping.toJS(viewModel.queryData));
	});
	
	//重置查询条件功能
	jQuery("#rzPrjcontrInsEqptModule .searchToolsbar .reset-btn").click(function(){
		ko.mapping.fromJS(emptyData,viewModel.queryData);
	});
	
	//编辑页返回
	jQuery("#rzPrjcontrInsEqptModule .rzPrjcontrInsEqptEdit .back-btn").click(function(){
		$("#rzPrjcontrInsEqptModule").layoutMDI("back");
	});

	ko.applyBindings(viewModel);
	
	{
		buttonManager.addBtn({button:".delete-btn",permission:['0']});
		buttonManager.addBtn({button:".add2-btn",permission:['0']});
		buttonManager.permission(parent.approvestatus);
	} 

});

function RzPrjcontrInsEqptView(){
	//主键
	this.pkPrjcontrInsEqpt="";
	//项目合同保险信息主键
	this.pkPrjcontrIns="";
	//项目合同主键
	this.pkPrjcontr="";
	//客户主键
	this.pkCustomer="";
	//租赁设备外键
	this.pkEqpt="";
	//编辑页面状态
	this.enableState=true;
}

function getParams(selector){
	return {};
}

</script>
	
</body>