<!-- search start  -->
<div class="searchPanel padding-10">
	<form class="form-horizontal">
		<div class="searchContent col-xs-8" data-bind="with:queryData">
						
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPrjcontrInsEqpt" class="form-control" data-bind="value:pkPrjcontrInsEqpt">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">项目合同保险信息主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPrjcontrIns" class="form-control" data-bind="value:pkPrjcontrIns">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">项目合同主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPrjcontr" class="form-control" data-bind="value:pkPrjcontr">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">客户主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkCustomer" class="form-control" data-bind="value:pkCustomer">
						</div>
					</div>
				</div>
			</div>
			<!--******更多条件放这里********-->
			<div class="hideRule">
				
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">租赁设备外键</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="pkEqpt" class="form-control" data-bind="value:pkEqpt">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 展开更多的一行-->
		<div class="searchToolsbar">
			<div data-target=".hideRule" data-toggle="collapse" class="moreRule">
				<span>展开更多查询条件</span>
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</div>
			<div class="search-box">
				<button type="button" class="btn btn-default btn-sm reset-btn">重置</button>
				<button type="button" class="btn btn-default btn-sm search-btn">查询</button>
			</div>
		</div>
	</form>
</div>
<!-- search end -->