<div class="panel panel-default" style="border: none;">
	<div class="panel-heading footer-saveOrCancel">
		<button type="button" class="btn btn-default btn-sm save-btn">保存</button><button type="button" class="btn btn-default btn-sm back-btn">取消</button>
	</div>
	<div class="panel-body form-parent" data-bind="with:editData">
		<form class="rzEqptEditForm form-horizontal">
            <div class="rateBaseInfo row panel slideParent">
                <div class="col-xs-12 panel-heading" data-toggle="collapse" data-target="#rateBaseInfo">
                    <h5 id="eqptId">新增租赁设备</h5><span class="glyphicon glyphicon-chevron-up"></span>
                </div>
                <div class="col-xs-12 panel-body collapse in" id="rateBaseInfo">
				<div class="row">
				<!--<div class="col-md-3 col-sm-6">
					 <div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="pkEqpt" class="form-control content-w210-input" data-bind="value:pkEqpt,enable:enableState">
						</div>
					</div> 
				</div>-->
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">供应商编码</label>
						<div class="col-md-9 col-sm-8">
							<!-- <input type="text" name="pkCustomer" class="form-control content-w210-input" data-bind="value:pkCustomer,enable:enableState"> -->
							 <input type="text" name="pkCustomer" class="form-control content-w210-input"
                                    data-bind="enable:false"
                                    data-imfbp-ref-bind="pkCustomer"
                                    data-imfbp-ref-bind-field="userIdentificationNo" data-imfbp-ref-value="">
                             <div class="icon-wrap ">
                                 <i class="glyphicon glyphicon-th-list icon" id="icon"
                                    name="pkCustomer"
                                    data-imfbp-ref-name='customerref'
                                    data-imfbp-ref-use = 'true'
                                    data-imfbp-ref-fun="customerRefCallFunction" data-imfbp-ref="ref"></i>
                             </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">供应商名称</label>
						<div class="col-md-9 col-sm-8">
							<!-- <input type="text" name="userName" class="form-control content-w210-input" data-bind="value:userName,enable:false"> -->
							<input type="text" name="userName" class="form-control content-w210-input"
                                    data-bind="enable:false"
                                    data-imfbp-ref-bind="pkCustomer"
                                    data-imfbp-ref-bind-field="userName" data-imfbp-ref-value="">
                             <div class="icon-wrap ">
                                 <i class="glyphicon glyphicon-th-list icon" id="icon"
                                    name="pkCustomer"
                                    data-imfbp-ref-name='customerref'
                                    data-imfbp-ref-use = 'false'
                                    data-imfbp-ref-fun="customerRefCallFunction" data-imfbp-ref="ref"></i>
                             </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">制造商</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="mfg" class="form-control content-w210-input" data-bind="value:mfg,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">设备分类</label>
						<div class="col-md-9 col-sm-8">
							<select name="eqptType" class="form-control content-w210-input"
								data-bind="options:eqptTypeList,optionsText:function(item){return item.text;},optionsValue:function(item){return item.value},value:eqptType,enable:enableState">
							</select>
						</div>
					</div>
				</div>
		
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">设备名称</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="eqptName" class="form-control content-w210-input" data-bind="value:eqptName,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">设备品牌</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="eqptBrand" class="form-control content-w210-input" data-bind="value:eqptBrand,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">设备型号</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="eqptVer" class="form-control content-w210-input" data-bind="value:eqptVer,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">设备编码</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="eqptCode" class="form-control content-w210-input" data-bind="value:eqptCode,enable:enableState">
						</div>
					</div>
				</div>
		
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">出厂编码</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="mfgNo" class="form-control content-w210-input" data-bind="value:mfgNo,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">出厂日期</label>
						<div class="input-group date form_hhg_date col-md-5" data-date=""
							data-date-format="yyyy-MM-dd" data-link-field="visitDate"
							data-link-format="yyyy-mm-dd" style="width:179px;">
							<input class="form-control content-w210-input" size="16" name="mfgDate"
								type="text" data-bind="value:mfgDate,enable:enableState"
								value="" readonly  style="border-right: none !important;border-radius: 4px 0 0 4px !important;width:141px;"> <span
								class="input-group-addon"><span
								class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">设备价格</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="eqptPrice" class="form-control content-w210-input" data-bind="value:eqptPrice,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">设备评估价值（元）</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="assessPrice" class="form-control content-w210-input" data-bind="value:assessPrice,enable:enableState">
						</div>
					</div>
				</div>
		
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">是否方便移动</label>
						<div class="col-md-9 col-sm-8">
							<select  name="ismove" class="form-control content-w210-input" data-bind="value:ismove,enable:enableState">
							<option value='0' selected>是</option>
							<option value='1'>否</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">是否可处置变现</label>
						<div class="col-md-9 col-sm-8">
							<select  name="isliquidate" class="form-control content-w210-input" data-bind="value:isliquidate,enable:enableState">
							<option value='0' selected>是</option>
							<option value='1'>否</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">总使用寿命（年）</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="totallife" class="form-control content-w210-input" data-bind="value:totallife,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">尚可使用年限（年）</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="restlife" class="form-control content-w210-input" data-bind="value:restlife,enable:enableState">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">备注</label>
						<div class="col-md-9 col-sm-8">
							<textarea name="remark" class="form-control content-w210-input" data-bind="value:remark,enable:enableState"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


