
<div class="panel panel-default">
	<div class="panel-heading  footer-saveOrCancel">
		<button type="button" class="btn btn-action btn-py save-btn">保存</button>
		<button type="button" class="btn btn-action btn-py edit-btn">修改</button>
		<button type="button" class="btn btn-action btn-py startItem-btn">启动立项</button>
		<button type="button" class="btn btn-out btn-py stopItem-btn">取消立项</button>
		<button type="button" class="btn btn-action btn-py searchCutorm-btn">联查客户</button>
		<button type="button" class="btn btn-out btn-py back-btn">取消</button>
	</div>
	
	<div class="panel-body form-parent" data-bind="with:editData">
	
		<form class="rzPricecalEditForm form-horizontal">
			<div class="row panel slideParent">
		
		    <div class="col-xs-12 panel-heading" data-toggle="collapse" data-target="#baseInfo">
					<h5>报价基本信息</h5><span class="glyphicon glyphicon-chevron-up"></span>
		   </div>
			<div class="col-xs-12 panel-body collapse in" id="baseInfo">
			<div class="row">
				<div class="col-md-3 col-sm-6" style="display:none">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="pkPricecal" class="form-control content-w210-input" data-bind="value:pkPricecal,enable:enableState">
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6" style="display:none">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">报价单号</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="priceno" class="form-control content-w210-input" data-bind="value:priceno,enable:enableState">
						</div>
					</div>
				</div>
			
				<div class="col-md-3 col-sm-6">
					<div class=" form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right" >报价单名称</label>
						<div class="col-md-9 col-sm-8">  
							<input type="text" name="pricename" class="form-control content-w210-input" data-bind="value:pricename,enable:enableState">
						</div>
					</div>
				</div>
				<!-- 参照-->
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">客户名称</label>
						<div class="col-md-9 col-sm-8" id="pkCustomer">
						<input type="text" name="pkCustomer" class="form-control content-w210-input"
										data-bind="enable:enableState"
										data-imfbp-ref-bind="pkCustomer" data-imfbp-ref-bind-field="userName"
										data-imfbp-ref-value="">
									<div class="icon-wrap ">
										<i class="glyphicon glyphicon-th-list icon" id="icon"
											data-imfbp-ref-name='customerref' name="pkCustomer"
											data-imfbp-ref-use='true'
											data-imfbp-ref-fun="headerRefCallFunction"
											data-imfbp-ref="ref"></i>
									</div>
						</div>
					</div>
				</div>
				<!-- 参照-->
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">业务类型</label>
						<div class="col-md-9 col-sm-8">
							<select name="busitype" class="form-control content-w210-input" data-bind="options:busyTypeList,optionsText:function(item){return item.text;},optionsValue:function(item){return item.value},value:busitype,enable:enableState">
							</select>
						</div>
					</div>
				</div>
		
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租赁方式 </label>
						<div class="col-md-9 col-sm-8">
							<select name="leaseway" class="form-control content-w210-input" data-bind="value:leaseway,enable:enableState">
							<option value='0' selected>直接融资租赁</option>
							<option value='1'>售后回租</option>
							<option value='2'>其他</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租赁物类型 </label>
						<div class="col-md-9 col-sm-8">
							<select name="leasetype" class="form-control content-w210-input" data-bind="value:leasetype,enable:enableState">
							<option value="0" selected>有形动产</option>
							<option value="1">不动产</option>
							</select>
						</div>
					</div>
				</div>
				
			   <div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">是否选择租赁物</label>
						<div class="col-md-9 col-sm-8" id="isselectrent" style="padding-top:7px;">
							<input type="radio" name="isselectrent" data-bind="value:isselectrent,enable:enableState" checked> 否
							<input type="radio" name="isselectrent"  data-bind="value:isselectrent,enable:enableState"> 是
						</div>
					</div>
				</div>
				<!--租赁物设备名称集-->
				 <div class="col-md-3 col-sm-6" >
					<div class="form-group" id="id_rentName" style="display:none">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租赁物设备</label>
						<div class="input-group  col-md-9 col-sm-8">
							<input type="text" style="width:139px" name="rent_name" class="form-control content-w210-input" data-bind="value:rent_name,enable:enableState">
							<span class="input-group-addon"><i class="iconfont icon-fenlei"></i></span>
						</div>
					</div>
				</div>
				<!--租赁物主键集-->
				 <div class="col-md-3 col-sm-6" style="display:none" id="id_rentpks">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租赁物设备主键集</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="rent_pks" class="form-control content-w210-input" data-bind="value:def1,enable:enableState">
						</div>
					</div>
				</div>
				<!--租赁物数量集-->
				 <div class="col-md-3 col-sm-6" style="display:none" id="id_rentNums">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租赁物设备集</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="rent_nums" class="form-control content-w210-input" data-bind="value:def2,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6" style="display:none" id="id_rentNums">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租赁物价格集</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="rent_price" class="form-control content-w210-input" data-bind="value:def3,enable:enableState">
						</div>
					</div>
				</div>
			
			    <div class="col-md-3 col-sm-6">
							<div class="form-group">
								<label class="col-md-3 col-sm-4 control-label no-padding-right">投放日期</label>
								<div class="input-group date form_datetime col-md-5"
									data-date="" data-date-format="yyyy-MM-dd"
									data-link-field="visitDate" data-link-format="yyyy-mm-dd">
									<input class="form-control content-w210-input" size="16" name="launchdate" type="text" data-bind="value:launchdate,enable:enableState"
										readonly style="width: 140px;"> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
						</div>
			    <div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">项目金额</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="itemamt" class="form-control content-w210-input" data-bind="value:itemamt,enable:enableState">
						</div>
					</div>
				</div>
				<!-- 参照-->
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">币种</label>
						<div class="col-md-9 col-sm-8">
							 <select class="form-control content-w210-input" name="pkCurrency"  data-bind="options:pkCurrencyList,optionsText:function(item){return item.currencyName},optionsValue:function(item){return item.id},value:pkCurrency,enable:enableState," >
                     		 </select>
						</div>
					</div>
				</div>
				
	
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租赁期限(月)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="leaseprd" class="form-control content-w210-input" data-bind="value:leaseprd,enable:enableState">
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">计划收租日</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="planleasedate" class="form-control content-w210-input" data-bind="value:planleasedate,enable:enableState">
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">还款周期(月)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="reptcycle" class="form-control content-w210-input" data-bind="value:reptcycle,enable:enableState">
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">还款方式</label>
						<div class="col-md-9 col-sm-8">
							<select name="reptway" class="form-control content-w210-input" data-bind="value:reptway,enable:enableState">
							<option value="0" selected>等额租金法</option>
							<option value="1">等额本息法</option>
							<option value="2">平息法</option>
							<option value="3">自由还款法</option>
							</select>
						</div>
					</div>
				</div>
		
			    <div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">利率类型</label>
						<div class="col-md-9 col-sm-8">
							<select name="ratetype" class="form-control content-w210-input" data-bind="value:ratetype,enable:enableState">
							<option value="0" selected>浮动</option>
							<option value="1">固定</option>
							</select>
						</div>
					</div>
				</div>
				<!--需要修改-->
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">基准利率(%)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="baserate" class="form-control content-w210-input" data-bind="value:baserate,enable:enableState" readonly>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">上下浮比例(%)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="floatpct" class="form-control content-w210-input" data-bind="value:floatpct,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">报价利率(%)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="pricerate" class="form-control content-w210-input" data-bind="value:pricerate,enable:enableState">
						</div>
					</div>
				</div>
	
			<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">租金支付方式</label>
						<div class="col-md-9 col-sm-8">
							<select name="paymentway" class="form-control content-w210-input" data-bind="value:paymentway,enable:enableState">
							<option value="0" selected>期末支付</option>
							<option value="1">期初支付</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">经营性每期租金</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="optamt" class="form-control content-w210-input" data-bind="value:optamt,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">年化天数</label>
						<div class="col-md-9 col-sm-8">
							<select name="yeardays" class="form-control content-w210-input" data-bind="value:yeardays,enable:enableState">
							<option value="360" selected>360</option>
							<option value="365">365</option>
							</select>
						</div>
					</div>
				</div>
			
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">预计收益IRR(%)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="irr" class="form-control content-w210-input" data-bind="value:irr,enable:enableState" readonly>
						</div>
					</div>
				</div>
			  <div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">首付款比例(%)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="firstpmtpct" class="form-control content-w210-input" data-bind="value:firstpmtpct,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">首付款金额</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="firstpmtamt" class="form-control content-w210-input" data-bind="value:firstpmtamt,enable:enableState">
						</div>
					</div>
				</div>	
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">融资金额</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="financeamt" class="form-control content-w210-input" data-bind="value:financeamt,enable:enableState" readonly>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
							<div class="form-group">
								<label class="col-md-3 col-sm-4 control-label no-padding-right">项目经理</label>
								<div class="col-md-9 col-sm-8">
									<input type="text" name="pkUserManager"
										class="form-control content-w210-input"
										data-bind="enable:false" data-imfbp-ref-bind="pkUserManager"
										data-imfbp-ref-bind-field="" data-imfbp-ref-value="">
									<div class="icon-wrap ">
										<i class="glyphicon glyphicon-th-list icon" id="icon"
											name="pkUserManager" data-imfbp-ref-name='userref'
											data-imfbp-ref-use='true'
											data-imfbp-ref-fun="outerRefCallFunction"
											data-imfbp-ref="ref"></i>
									</div>
								</div>
							</div>
						</div>
				<div class="col-md-3 col-sm-6">
							<div class="form-group">
								<label class="col-md-3 col-sm-4 control-label no-padding-right">申请部门</label>
								<div class="col-md-9 col-sm-8">
									<input type="text" name="pkDeptApply"
										class="form-control content-w210-input"
										data-bind="enable:false" data-imfbp-ref-bind="pkDeptApply"
										data-imfbp-ref-bind-field="">
									<div class="icon-wrap ">
										<i class="glyphicon glyphicon-th-list icon" id="icon"
											name="pkDeptApply" data-imfbp-ref-bind="pkUserManager"
											data-imfbp-ref-bind-field="pkDeptApply"
											data-imfbp-ref-name='deptref' name="pkDeptApply"
											data-imfbp-ref-fun="outerRefCallFunction"
											data-imfbp-ref="ref"></i>
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
		</div>
		<div class="row panel slideParent">
		<div class="col-xs-12 panel-heading" data-toggle="collapse" data-target="#baseInfo1">
					<h5>其他收支信息</h5><span class="glyphicon glyphicon-chevron-up"></span>
		   </div>
			<div class="col-xs-12 panel-body collapse in" id="baseInfo1">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">客户保证金比例%</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="depositpct" class="form-control content-w210-input" data-bind="value:depositpct,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">客户保证金金额</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="depositamt" class="form-control content-w210-input" data-bind="value:depositamt,enable:enableState">
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">客户保证金退回方式</label>
						<div class="col-md-9 col-sm-8">
							<select name="returndepositway" class="form-control content-w210-input" data-bind="value:returndepositway,enable:enableState">
							<option value="0" selected>期末退回 </option>
							<option value="1">冲抵租金</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">手续费计算基数</label>
						<div class="col-md-9 col-sm-8">
							<select name="feeradix" class="form-control content-w210-input" data-bind="value:feeradix,enable:enableState">
							<option value="0" >合同金额 </option>
							<option value="1" selected>融资金额</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">手续费比例(%)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="feepct" class="form-control content-w210-input" data-bind="value:feepct,enable:enableState">
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">手续费金额</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="feeamt" class="form-control content-w210-input" data-bind="value:feeamt,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">手续费税率</label>
						<div class="col-md-9 col-sm-8">
							<select name="feetaxrate" class="form-control content-w210-input" data-bind="value:feetaxrate,enable:enableState">
							<option value="6">6%</option>
							<option value="11">11%</option>
							<option value="17" selected>17%</option>
							<option value="0">零税率</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">手续费支付方式</label>
						<div class="col-md-9 col-sm-8">
							<select name="feepayway" class="form-control content-w210-input" data-bind="value:feepayway,enable:enableState">
							<option value="0" selected>一次性支付</option>
							<option value="1">随租金支付</option>
							</select>
						</div>
					</div>
				</div>

			<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">服务费比例(%)</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="scpct" class="form-control content-w210-input" data-bind="value:scpct,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">服务费总额</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="scamt" class="form-control content-w210-input" data-bind="value:scamt,enable:enableState">
						</div>
					</div>
				</div>
			<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">服务费税率</label>
						<div class="col-md-9 col-sm-8">
							<select name="sctaxrate" class="form-control content-w210-input" data-bind="value:sctaxrate,enable:enableState">
							<option value="6">6%</option>
							<option value="11">11%</option>
							<option value="17">17%</option>
							<option value="0" selected>零税率</option>
							</select>
						</div>
					</div>
			</div>	
		</div>
	</div>
	</div>
	<div class="row panel slideParent">
		<div class="col-xs-12 panel-heading" data-toggle="collapse" data-target="#baseInfo2">
					<h5>单据基本信息</h5><span class="glyphicon glyphicon-chevron-up"></span>
		   </div>
			<div class="col-xs-12 panel-body collapse in" id="baseInfo2">	
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">状态</label>
						<div class="col-md-9 col-sm-8">
							<select class="form-control content-w210-input" data-bind="value:projectstate,enable:enableState1">
							<option value="0">未立项</option>
							<option value="1">已立项</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">组织机构</label>
						<div class="col-md-9 col-sm-8" id="pkOrg">
						<input type="text" name="pkOrg" class="form-control content-w210-input"
										data-bind="value:pkOrg,enable:false"
										data-imfbp-ref-bind="pkOrg" data-imfbp-ref-bind-field=""
										data-imfbp-ref-value="">
									<div class="icon-wrap ">
										<i class="glyphicon glyphicon-th-list icon" id="icon"
											data-imfbp-ref-name='orgref' name="pkOrg"
											data-imfbp-ref-use='false'
											data-imfbp-ref-fun="outerRefCallFunction"
											data-imfbp-ref="ref"></i>
									</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">部门</label>
						<div class="col-md-9 col-sm-8" id="pkDept">
								<input type="text" name="pkDept" class="form-control content-w210-input"
										data-bind="value:pkDept,enable:false"
										data-imfbp-ref-bind="pkDept" data-imfbp-ref-bind-field=""
										data-imfbp-ref-value="">
									<div class="icon-wrap ">
										<i class="glyphicon glyphicon-th-list icon" id="icon"
											data-imfbp-ref-name='deptref' name="pkDept"
											data-imfbp-ref-use='false'
											data-imfbp-ref-fun="outerRefCallFunction"
											data-imfbp-ref="ref"></i>
									</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">制单人</label>
						<div class="col-md-9 col-sm-8" id="billmaker">
								<input type="text" name="billmaker" class="form-control content-w210-input"
										data-bind="value:billmaker,enable:false"
										data-imfbp-ref-bind="billmaker" data-imfbp-ref-bind-field="userRealName"
										data-imfbp-ref-value="">
									<div class="icon-wrap ">
										<i class="glyphicon glyphicon-th-list icon" id="icon"
											data-imfbp-ref-name='userref' name="billmaker"
											data-imfbp-ref-use='false'
											data-imfbp-ref-fun="outerRefCallFunction"
											data-imfbp-ref="ref"></i>
									</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">制单日期</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="billdate" class="form-control content-w210-input" data-bind="value:billdate,enable:enableState" readonly>
						</div>
					</div>
				</div>
		
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">录入人</label>
							<div class="col-md-9 col-sm-8" id="billmaker">
								<input type="text" name="operator" class="form-control content-w210-input"
										data-bind="value:operator,enable:false"
										data-imfbp-ref-bind="operator" data-imfbp-ref-bind-field="userRealName"
										data-imfbp-ref-value="">
									<div class="icon-wrap ">
										<i class="glyphicon glyphicon-th-list icon" id="icon"
											data-imfbp-ref-name='userref' name="operator"
											data-imfbp-ref-use='false'
											data-imfbp-ref-fun="outerRefCallFunction"
											data-imfbp-ref="ref"></i>
									</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">录入时间</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="operatordatetime" class="form-control content-w210-input" data-bind="value:operatordatetime,enable:enableState" readonly>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group" style="display:none">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">修改人</label>
						<div class="col-md-9 col-sm-8" id="billmaker">
								<input type="text" name="modifor" class="form-control content-w210-input"
										data-bind="value:modifor,enable:false"
										data-imfbp-ref-bind="modifor" data-imfbp-ref-bind-field="userRealName"
										data-imfbp-ref-value="">
									<div class="icon-wrap ">
										<i class="glyphicon glyphicon-th-list icon" id="icon"
											data-imfbp-ref-name='userref' name="modifor"
											data-imfbp-ref-use='false'
											data-imfbp-ref-fun="outerRefCallFunction"
											data-imfbp-ref="ref"></i>
									</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group" style="display:none">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">修改时间</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="modifydatetime" class="form-control content-w210-input" data-bind="value:modifydatetime,enable:enableState" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="row" style="display:none">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">流程实例ID</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="flowinstanceid" class="form-control content-w210-input" data-bind="value:flowinstanceid,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">ts</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="ts" class="form-control content-w210-input" data-bind="value:ts,enable:enableState">
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="display:none">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">0 未删除 1已删除</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="dr" class="form-control content-w210-input" data-bind="value:dr,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">def1</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="def1" class="form-control content-w210-input" data-bind="value:def1,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">def2</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="def2" class="form-control content-w210-input" data-bind="value:def2,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">def3</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="def3" class="form-control content-w210-input" data-bind="value:def3,enable:enableState">
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="display:none">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">def4</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="def4" class="form-control content-w210-input" data-bind="value:def4,enable:enableState">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 control-label no-padding-right">def5</label>
						<div class="col-md-9 col-sm-8">
							<input type="text" name="def5" class="form-control content-w210-input" data-bind="value:def5,enable:enableState">
						</div>
					</div>
				</div>
			</div>
			</div>
			
		</form>
	</div>
</div>

<!--弹框-->
<div class="u-container-fluid u-widget-bg" style="display:none">
    <div class="u-row">
        <div class="u-col-md-4">
            <div class="u-widget" id="test">
                <div class="u-widget-body">
                    <div id="dialog_pricalLease" style="display:none">
                        <div class="u-msg-title">
                            <span style="font-size:14px;">租赁物设备</span>
                        </div>
                        <div class="u-msg-content">
                          <div id="main" style="width:100%;  height:100%;">
								<div id="left">
								<h4>租赁物设备列表</h4>
								<div id="searchItem">
								<input type="text" name="searchItem" style="width:50%"><span class="add-on u-form-control-feedback glyphicon glyphicon-search" style="height:0px"></span>
								<div id="dimSearchResult"></div>
								</div>
								<div>
								<table class="table table-condensed" id="pricalLeaseTable">
								<thead><td colspan='2'>品牌名称</td><td>价格</td><td>评估值</td></thead>
								<tbody>
								</tbody>
								</table>
								</div>
								</div>
								<div id="right">
								<h4>已选租赁物列表</h4>
								<div>
								<table id="pricalLeaseSelectedTable" class="table table-condensed" style="margin-top:28px">
								<thead><td colspan='3'>品牌名称</td><td>价格</td><td>评估值</td><td>数量</td></thead>
								<tbody>
								</tbody>
								</table>
								</div>
								</div>
							</div>
                        </div>
                        <div class="u-msg-footer">
                            <div style="text-align: right;padding-right:20px;">
                                <button class="btn btn-out btn-py cancel-btn">取消</button>
                                <button class=" btn btn-action btn-py ok-btn" style="background-color:#00A0E8">确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

