<!-- search start  -->
<div class="searchPanel padding-10">
	<form class="form-horizontal">
		<div class="searchContent col-xs-8" data-bind="with:queryData">
						
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPrjcontrPur" class="form-control" data-bind="value:pkPrjcontrPur">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">项目评审主键  </label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPrjcontr" class="form-control" data-bind="value:pkPrjcontr">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">供应商（客户主键）</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="purContrCode" class="form-control" data-bind="value:purContrCode">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">备注</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="purContrName" class="form-control" data-bind="value:purContrName">
						</div>
					</div>
				</div>
			</div>
			<!--******更多条件放这里********-->
			<div class="hideRule">
				
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">合同类型 ：0 融资租赁合同、1 担保合同、2买卖合同、3抵质押合同、4转让合同、5 保险合同</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="purContrType" class="form-control" data-bind="value:purContrType">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">设备金额(元)</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="eqptAmt" class="form-control" data-bind="value:eqptAmt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">租赁物折让比例(%)</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="discountPer" class="form-control" data-bind="value:discountPer">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">折让金额</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="discountAmt" class="form-control" data-bind="value:discountAmt">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">合同预计签订日期</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="planSignedDate" class="form-control" data-bind="value:planSignedDate">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">合同签订日期</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="signedDate" class="form-control" data-bind="value:signedDate">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 展开更多的一行-->
		<div class="searchToolsbar">
			<div data-target=".hideRule" data-toggle="collapse" class="moreRule">
				<span>展开更多查询条件</span>
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</div>
			<div class="search-box">
				<button type="button" class="btn btn-default btn-sm reset-btn">重置</button>
				<button type="button" class="btn btn-default btn-sm search-btn">查询</button>
			</div>
		</div>
	</form>
</div>
<!-- search end -->