<!-- search start  -->
<div class="searchPanel padding-10">
	<form class="form-horizontal">
		<div class="searchContent" data-bind="with:queryData">
			<div class="row">
				<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:196px;">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">合同名称</label>
						<div class="col-md-8 col-sm-8" style="width:140px;">
							<!-- <input type="text" name="contrName" class="form-control header-w130-input" data-bind="value:contrName"> -->
							<input type="text" name="pkPrjcontr"
								class="form-control header-w130-input"
								data-bind="enable:false" data-imfbp-ref-bind="pkPrjcontr"
								data-imfbp-ref-bind-field="contrName" data-imfbp-ref-value="">
							<div class="icon-wrap ">
								<i class="glyphicon glyphicon-th-list icon" id="icon"
									name="pkPrjcontr" data-imfbp-ref-name='prjcontrref'
									data-imfbp-ref-use='true'
									data-imfbp-ref-fun="headerRefCallFunction"
									data-imfbp-ref="ref"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:196px;">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">客户名称</label>
						<div class="col-md-8 col-sm-8" style="width:140px;">
							<input type="text" name="pkCustomer" class="form-control header-w130-input"
	                                data-bind="enable:false"
	                                data-imfbp-ref-bind="pkCustomer"
	                                data-imfbp-ref-bind-field="" data-imfbp-ref-value="">
	                         <div class="icon-wrap ">
	                             <i class="glyphicon glyphicon-th-list icon" id="icon"
	                                data-imfbp-ref-name='customerref' name="pkCustomer"
	                                data-imfbp-ref-use = 'true'
	                                data-imfbp-ref-fun="headerRefCallFunction" data-imfbp-ref="ref"></i>
	                         </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:196px;">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right" ">制单日期</label>
						<div class="input-group date form_hhg_date col-md-5" data-date=""
							data-date-format="yyyy-MM-dd" data-link-field="visitDate"
							data-link-format="yyyy-mm-dd" style="width:140px;">
							<input class="form-control header-w130-input" size="16" name="billdate"
								type="text" data-bind="value:billdate,enable:enableState"
								value="" readonly  style="border-right: none !important;border-radius: 4px 0 0 4px !important;width:91px !important"> <span
								class="input-group-addon"><span
								class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:196px;">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">项目经理</label>
						<!-- <div class="col-md-8 col-sm-8" style="width:140px;">
							<input type="text" name="pkUserManager" class="form-control header-w130-input" data-bind="value:pkUserManager">
						</div> -->
						<div class="col-md-8 col-sm-8" style="width:140px;">
							<input type="text" name="pkUserManager" class="form-control header-w130-input"
	                                data-bind="enable:false"
	                                data-imfbp-ref-bind="pkUserManager"
	                                data-imfbp-ref-bind-field="" data-imfbp-ref-value="">
	                         <div class="icon-wrap ">
	                             <i class="glyphicon glyphicon-th-list icon" id="icon"
	                                data-imfbp-ref-name='userref' name="pkUserManager"
	                                data-imfbp-ref-use = 'true'
	                                data-imfbp-ref-fun="headerRefCallFunction" data-imfbp-ref="ref"></i>
	                         </div>
						</div>
					</div>
				</div>
			</div>
			
			<!--******更多条件放这里********-->
			<div class="hideRule">
				<div class="row">
					<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:196px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">项目状态</label>
							<div class="col-md-8 col-sm-8" style="width:140px;">
								<!-- <input type="text" name="" class="form-control header-w130-input" > -->
								<select name="approvestatus"
									class="form-control header-w130-input"
									data-bind="value:approvestatus">
									<option value='' selected>请选择</option>
									<option value='0'>自由</option>
									<option value='1'>提交</option>
									<option value='2'>审批中</option>
									<option value='3'>审批通过</option>
									<option value='3'>审批不通过</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:196px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">业务类型</label>
							<div class="col-md-8 col-sm-8">
								<select name="busitype" class="form-control header-w130-input"
									data-bind="options:busyTypeList,optionsText:function(item){return item.text;},optionsValue:function(item){return item.value},value:busitype,enable:enableState,DepartmentSelected,optionsCaption:'请选择'">
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:196px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right" style="line-height:17px">合同开始日期</label>
							<!-- <div class="col-md-8 col-sm-8" style="width:140px;">
								<input type="text" name="startLeaseDate" class="form-control header-w130-input" data-bind="value:startLeaseDate">
							</div> -->
							<div class="input-group date form_hhg_date col-md-5" data-date=""
								data-date-format="yyyy-MM-dd" data-link-field="visitDate"
								data-link-format="yyyy-mm-dd" style="width:140px;">
								<input class="form-control header-w130-input" size="16" name="startLeaseDate"
									type="text" data-bind="value:startLeaseDate"
									value="" readonly  style="border-right: none !important;border-radius: 4px 0 0 4px !important;width:91px !important"> <span
									class="input-group-addon"><span
									class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 label-and-input-outdiv" style="width:196px;">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right" style="line-height:17px">合同结束日期</label>
							<!-- <div class="col-md-8 col-sm-8" style="width:140px;">
								<input type="text" name="endLeaseDate" class="form-control header-w130-input" data-bind="value:endLeaseDate">
							</div> -->
							<div class="input-group date form_hhg_date col-md-5" data-date=""
								data-date-format="yyyy-MM-dd" data-link-field="visitDate"
								data-link-format="yyyy-mm-dd" style="width:140px;">
								<input class="form-control header-w130-input" size="16" name="endLeaseDate"
									type="text" data-bind="value:endLeaseDate"
									value="" readonly  style="border-right: none !important;border-radius: 4px 0 0 4px !important;width:91px !important"> <span
									class="input-group-addon"><span
									class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
		<!-- 展开更多的一行-->
		<div class="searchToolsbar">
			<div data-target=".hideRule" data-toggle="collapse" class="moreRule">
				<span>展开更多查询条件</span>
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</div>
			<div class="search-box">
				<button type="button" class="btn btn-default btn-sm reset-btn">重置</button>
				<button type="button" class="btn btn-default btn-sm search-btn">查询</button>
			</div>
		</div>
	</form>
</div>
<!-- search end -->