<title>rzDefInterestPlan</title>
<body>
<div id="rzDefInterestPlanModule" >
	
	<!-- list page start -->
	<div class="listPage startPage">
		#parse("/WEB-INF/vm/rzDefInterestPlan/rzDefInterestPlanSearch.vm")
		#parse("/WEB-INF/vm/rzDefInterestPlan/rzDefInterestPlanList.vm")
	</div>
	<!-- list page end -->
	
	<!-- edit page end -->
	<div class="rzDefInterestPlanEdit" style="display:none;">
		#parse("/WEB-INF/vm/rzDefInterestPlan/rzDefInterestPlanEdit.vm")
	</div>
	<!-- edit page end -->
	
</div>


<script>

jQuery(function(){

	
	//列表后台访问地址
	var url_page = '$homeModule.getTarget('/rzDefInterestPlan/getRzDefInterestPlanByPage')';
	//添加修改后台访问地址
	var url_add = '$homeModule.getTarget('/rzDefInterestPlan/insertOrUpdate')';
	//删除后台访问地址
	var url_del = '$homeModule.getTarget('/rzDefInterestPlan/deleteRzDefInterestPlanByBatchId')';
	
	//查询对象
	var queryData = new RzDefInterestPlanView();
	//编辑对象
	var editData = new RzDefInterestPlanView();
	//空对象用来清空编辑和查询对象
	var emptyData = new RzDefInterestPlanView();
	
	var viewModel={
		queryData:ko.mapping.fromJS(queryData),
		editData:ko.mapping.fromJS(editData),
		pageState:ko.observable("")
	}
	
	/**
	 * 表头
	 */
	var col = [{
		field:"num",
		title:"期次数"
	},{
		field:"rptDate",
		title:"应还款日期"
	},{
		field:"receivableTotal",
		title:"应收款合计(元)",
		 renderType: function (obj) {
                if (obj.value == 0) {
                    var html = "<span></span>";
                } else {
                    var formater = new u.NumberFormater(2);
                    var masker = new u.NumberMasker(null);
                    var svalue = masker.format(formater.format(obj.value)).value
                    var html = "<span>" + svalue + "</span>";
                }
                var innerDom = u.makeDOM(html);
                obj.element.appendChild(innerDom);
            }
	},{
		field:"realTotal",
		title:"实收款合计(元)",
		 renderType: function (obj) {
                if (obj.value == 0) {
                    var html = "<span></span>";
                } else {
                    var formater = new u.NumberFormater(2);
                    var masker = new u.NumberMasker(null);
                    var svalue = masker.format(formater.format(obj.value)).value
                    var html = "<span>" + svalue + "</span>";
                }
                var innerDom = u.makeDOM(html);
                obj.element.appendChild(innerDom);
            }
	},{
		field:"receivableNrcyTotal",
		title:"应收未收合计(元)",
		 renderType: function (obj) {
                if (obj.value == 0) {
                    var html = "<span></span>";
                } else {
                    var formater = new u.NumberFormater(2);
                    var masker = new u.NumberMasker(null);
                    var svalue = masker.format(formater.format(obj.value)).value
                    var html = "<span>" + svalue + "</span>";
                }
                var innerDom = u.makeDOM(html);
                obj.element.appendChild(innerDom);
            }
	},{
		field:"overdueDays",
		title:"逾期天数"
	},{
		field:"overdueRate",
		title:"逾期利率(%)",
		 renderType: function (obj) {
                if (obj.value == 0) {
                    var html = "<span></span>";
                } else {
                    var formater = new u.NumberFormater(4);
                    var masker = new u.NumberMasker(null);
                    var svalue = masker.format(formater.format(obj.value)).value
                    var html = "<span>" + svalue + "</span>";
                }
                var innerDom = u.makeDOM(html);
                obj.element.appendChild(innerDom);
            }
	},{
		field:"defIntAmt",
		title:"应罚息金额(元)",
		 renderType: function (obj) {
                if (obj.value == 0) {
                    var html = "<span></span>";
                } else {
                    var formater = new u.NumberFormater(2);
                    var masker = new u.NumberMasker(null);
                    var svalue = masker.format(formater.format(obj.value)).value
                    var html = "<span>" + svalue + "</span>";
                }
                var innerDom = u.makeDOM(html);
                obj.element.appendChild(innerDom);
            }
	},{
		field:"overType",
		title:"逾期类型",
		 renderType: function (obj) {
                    var html = "<span>"
                    //逾期类型：0 本金逾期、1 利息逾期、2 本息逾期
                    var state = obj.row.value.overType;
                    if (0 == state ) {
                        html += "本金逾期";
                    } else if(1 == state){
                       html += "利息逾期";
                    }else{
                         html += "本息逾期";
                       }
                    html += "</span>";
                    var innerDom = u.makeDOM(html);
                    obj.element.appendChild(innerDom);
                }
	},];
    
	
	/**
     * 初始化layoutMDI
     */
	$("#rzDefInterestPlanModule").layoutMDI({
		//当页面后退时候触发的事件
		onBackPage: function(target, options) {
			ko.mapping.fromJS(emptyData,viewModel.editData);
		} 
	});
	
	/**
     * 创建一个表格，但是没有赋值dataSource数据，这是表格将没有数据
	 */
	var gridObj = $("#rzDefInterestPlanModule .rzDefInterestPlanList").grid({
		dataSource:'',
    	id: 'case-g1',
   		keyField: 'id',
   		parentKeyField: 'pid',
    	multiSelect: true,
    	showNumCol:true,
    	height: 350,
    	columns: col,
    	onDblClickFun:function(gridObj,rowObj,rowIndex){
			//设置页面的输入框为不可修改
			viewModel.editData.enableState(false);
			//得到点击行
    		var dbClickRow = gridObj.rowObj;
    		//赋值
    		ko.mapping.fromJS(dbClickRow.value, viewModel.editData);
    		//跳转到编辑页
        	$("#rzDefInterestPlanModule").layoutMDI("go", ".rzDefInterestPlanEdit");
    	}
    });
	
	/**
	 * 初始化分页
	 */
	var paginationObj = $("#rzDefInterestPlanModule .pagination").pagination({
		pageSize:1000,
		styleMode:2,
		onSelectPage:function(pageNumber, pageSize){
			var queryData = $.extend(ko.mapping.toJS(viewModel.queryData),{pageNumber:pageNumber,pageSize:pageSize});
			jQuery("#rzDefInterestPlanModule .rzDefInterestPlanList").gridPlugin("reLoad",queryData);
		}
	});
	
	/**
	 * 初始化表格插件
	 */
	var gridPluginObj = jQuery("#rzDefInterestPlanModule .rzDefInterestPlanList").gridPlugin({
		url: url_page,
		gridObj:gridObj,
		queryParam:getParams(),
		pagination:true,//是否分页默认为否
		paginationObj:paginationObj,//分页控件对象
		initData:false,//初始化时候是否加载数据(true时候加载，false时候不加载)
		onDataSuccess:function(data){
			//当列表加载成功之后调用
		},
		onDataError:function(data){
			//当列表加载失败之后调用
		},
	})
	
	/**
	 * form表单插件
	 */
	jQuery("#rzDefInterestPlanModule .rzDefInterestPlanEditForm").formPlugin({
		url: url_add,//添加修改的地址
		gridPlugin:gridPluginObj,//表格插件对象
		onSaveSuccess:function(data){
			//保存成功后退出编辑页面
			$("#rzDefInterestPlanModule").layoutMDI("back");
		},
		onSaveError:function(data){
			//保存失败回调事件
		},
		onSaveError:function(data){
			//保存失败回调事件
			jQuery("#rzDefInterestPlanModule .rzDefInterestPlanList").gridPlugin("load", {});
		},
		onDeleteSuccess:function(data){
			
		}
	})
	
	/**
	 * 新增功能
	 */			
    jQuery("#rzDefInterestPlanModule .toolsbarPanel .add-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为添加状态
		viewModel.pageState(pageState.add);
        $("#rzDefInterestPlanModule").layoutMDI("go", ".rzDefInterestPlanEdit");
    });

	/**
	 * 修改功能
	 */		    
    jQuery("#rzDefInterestPlanModule .toolsbarPanel .update-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为修改状态
		viewModel.pageState(pageState.edit);
    	//当前选中行
    	var selectRow = gridObj.getSelectRows();
    	//将数据绑定到表单上面
    	ko.mapping.fromJS(selectRow[0], viewModel.editData);
    	//跳转到编辑页面
        $("#rzDefInterestPlanModule").layoutMDI("go", ".rzDefInterestPlanEdit");
    });

	/**
	 * 删除功能
	 */	    
    jQuery("#rzDefInterestPlanModule .toolsbarPanel .remove-btn").click(function(){
    	//要删除的id用","隔开
		var batchId = "";
		//当前选中行
		var selectRow = gridObj.getSelectRows();
		//判断是否选中要删除的数据
		if(selectRow.length == 0) {
			alert("请选择您要修改的数据");
			return;
		}
	
		for(var i = 0; i < selectRow.length; i++) {
			var row = selectRow[i];
			if(i == 0) {
				batchId = row["pkDefInterestPlan"] + batchId;
			} else {
				batchId = row["pkDefInterestPlan"] + "," + batchId;
			}
		}
		//删除数据
		jQuery("#rzDefInterestPlanModule .rzDefInterestPlanEditForm").formPlugin("remove",{batchId:batchId,url:url_del});
    });
    
    /**
	 * 刷新功能(只是刷新当前页，如果要刷新所有页面使用 load 方法)
	 */	 
    jQuery("#rzDefInterestPlanModule .toolsbarPanel .refresh-btn").click(function(){
		jQuery("#rzDefInterestPlanModule .rzDefInterestPlanList").gridPlugin("reLoad",viewModel.queryData);
    });
    
    //保存功能
	jQuery("#rzDefInterestPlanModule .rzDefInterestPlanEdit .save-btn").click(function(){
		if(viewModel.pageState()=="add"){
			ko.mapping.fromJS(emptyData,viewModel.queryData);
		}
		var param = {
			formData:ko.mapping.toJS(viewModel.editData),//要提交的数据
			queryData:ko.mapping.toJS(viewModel.queryData),//修改完毕刷新表格的参数
			editType:viewModel.pageState()//页面的状态(add：添加，edit:编辑)
		}
		jQuery("#rzDefInterestPlanModule .rzDefInterestPlanEditForm").formPlugin("save",param);
	});
	
	//查找功能
	jQuery("#rzDefInterestPlanModule .searchToolsbar .search-btn").click(function(){
		jQuery("#rzDefInterestPlanModule .rzDefInterestPlanList").gridPlugin("load",ko.mapping.toJS(viewModel.queryData));
	});
	
	//重置查询条件功能
	jQuery("#rzDefInterestPlanModule .searchToolsbar .reset-btn").click(function(){
		ko.mapping.fromJS(emptyData,viewModel.queryData);
	});
	
	//编辑页返回
	jQuery("#rzDefInterestPlanModule .rzDefInterestPlanEdit .back-btn").click(function(){
		$("#rzDefInterestPlanModule").layoutMDI("back");
	});

	ko.applyBindings(viewModel);

});

function RzDefInterestPlanView(){
	//主键
	this.pkDefInterestPlan="";
	//主表主键
	this.pkDefInterest="";
	//期数
	this.num="";
	//应还款日期
	this.rptDate="";
	//应收款合计(元)
	this.receivableTotal="";
	//实收款合计(元)
	this.realTotal="";
	//应收未收合计(元)
	this.receivableNrcyTotal="";
	//逾期天数
	this.overdueDays="";
	//逾期利率(%)
	this.overdueRate="";
	//应罚息金额(元)
	this.defIntAmt="";
	//逾期类型：0 本金逾期、1 利息逾期、2 本息逾期
	this.overType="";
	//序号
	this.seqno="";
	//编辑页面状态
	this.enableState=true;
}

function getParams(selector){
	return {};
}

</script>
	
</body>