<title>rzPlanChangeLeaseNew</title>
<body>
<div id="rzPlanChangeLeaseNewModule" >
	
	<!-- list page start -->
	<div class="listPage startPage">
		#parse("/WEB-INF/vm/rzPlanChangeLeaseNew/rzPlanChangeLeaseNewList.vm")
	</div>
	<!-- list page end -->
	
	<!-- edit page end -->
	<div class="rzPlanChangeLeaseNewEdit" style="display:none;">
		#parse("/WEB-INF/vm/rzPlanChangeLeaseNew/rzPlanChangeLeaseNewEdit.vm")
	</div>
	<!-- edit page end -->
	
</div>


<script>

jQuery(function(){

	
	//列表后台访问地址
	var url_page = '$homeModule.getTarget('/rzPlanChangeLeaseNew/getRzPlanChangeLeaseNewByPage')';
	//添加修改后台访问地址
	var url_add = '$homeModule.getTarget('/rzPlanChangeLeaseNew/insertOrUpdate')';
	//删除后台访问地址
	var url_del = '$homeModule.getTarget('/rzPlanChangeLeaseNew/deleteRzPlanChangeLeaseNewByBatchId')';
	
	//查询对象
	var queryData = new RzPlanChangeLeaseNewView();
	//编辑对象
	var editData = new RzPlanChangeLeaseNewView();
	//空对象用来清空编辑和查询对象
	var emptyData = new RzPlanChangeLeaseNewView();
	
	var viewModel={
		queryData:ko.mapping.fromJS(queryData),
		editData:ko.mapping.fromJS(editData),
		pageState:ko.observable("")
	}
	
	/**
	 * 表头
	 */
	var col = [{
		field:"num",
		title:"期次数"
	},{
		field:"rptDate",
		title:"应还款日期"
	},{
		field:"paydur",
		title:"偿还期间"
	},{
		field:"durdays",
		title:"期间天数"
	},{
		field:"leaseRate",
		title:"租赁利率(%)"
	},{
		field:"rptAmt",
		title:"应还款本金"
	},{
		field:"rptInt",
		title:"应还款利息"
	},{
		field:"rptRent",
		title:"应还款租金"
	},{
		field:"rptDefInt",
		title:"应还罚息"
	},{
		field:"payFee",
		title:"应支付手续费"
	},{
		field:"rptTotal",
		title:"应还款合计"
	},{
		field:"residualAmt",
		title:"剩余本金"
	},{
		field:"actAmt",
		title:"实际还款本金"
	},{
		field:"actInt",
		title:"实际还款利息"
	},{
		field:"actDefInt",
		title:"实际还款罚息"
	},{
		field:"actPayFee",
		title:"实际支付手续费"
	},{
		field:"actTotal",
		title:"实际还款合计"
	}];
    
	
	/**
     * 初始化layoutMDI
     */
	$("#rzPlanChangeLeaseNewModule").layoutMDI({
		//当页面后退时候触发的事件
		onBackPage: function(target, options) {
			ko.mapping.fromJS(emptyData,viewModel.editData);
		} 
	});
	
	/**
     * 创建一个表格，但是没有赋值dataSource数据，这是表格将没有数据
	 */
	var gridObj = $("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewList").grid({
		dataSource:'',
    	id: 'case-g1',
   		keyField: 'id',
   		parentKeyField: 'pid',
    	multiSelect: true,
    	showNumCol:true,
    	height: 370,
    	columns: col,
    	onDblClickFun:function(gridObj,rowObj,rowIndex){
			//设置页面的输入框为不可修改
			viewModel.editData.enableState(false);
			//得到点击行
    		var dbClickRow = gridObj.rowObj;
    		//赋值
    		ko.mapping.fromJS(dbClickRow.value, viewModel.editData);
    		//跳转到编辑页
        	$("#rzPlanChangeLeaseNewModule").layoutMDI("go", ".rzPlanChangeLeaseNewEdit");
    	}
    });
	
	/**
	 * 初始化分页
	 */
	var paginationObj = $("#rzPlanChangeLeaseNewModule .pagination").pagination({
		pageSize:10,
		styleMode:2,
		onSelectPage:function(pageNumber, pageSize){
			var queryData = $.extend(ko.mapping.toJS(viewModel.queryData),{pageNumber:pageNumber,pageSize:pageSize});
			jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewList").gridPlugin("reLoad",queryData);
		}
	});
	
	/**
	 * 初始化表格插件
	 */
	var gridPluginObj = jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewList").gridPlugin({
		url: url_page,
		gridObj:gridObj,
		queryParam:getParams(),
		pagination:true,//是否分页默认为否
		paginationObj:paginationObj,//分页控件对象
		initData:true,//初始化时候是否加载数据(true时候加载，false时候不加载)
		onDataSuccess:function(data){
			//当列表加载成功之后调用
		},
		onDataError:function(data){
			//当列表加载失败之后调用
		},
	})
	
	/**
	 * form表单插件
	 */
	jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewEditForm").formPlugin({
		url: url_add,//添加修改的地址
		gridPlugin:gridPluginObj,//表格插件对象
		onSaveSuccess:function(data){
			//保存成功后退出编辑页面
			$("#rzPlanChangeLeaseNewModule").layoutMDI("back");
		},
		onSaveError:function(data){
			//保存失败回调事件
		},
		onSaveError:function(data){
			//保存失败回调事件
			jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewList").gridPlugin("load", {});
		},
		onDeleteSuccess:function(data){
			
		}
	})
	
	/**
	 * 新增功能
	 */			
    jQuery("#rzPlanChangeLeaseNewModule .toolsbarPanel .add-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为添加状态
		viewModel.pageState(pageState.add);
        $("#rzPlanChangeLeaseNewModule").layoutMDI("go", ".rzPlanChangeLeaseNewEdit");
    });

	/**
	 * 修改功能
	 */		    
    jQuery("#rzPlanChangeLeaseNewModule .toolsbarPanel .update-btn").click(function(){
    	//设置页面的输入框可以输入
		viewModel.editData.enableState(true);
		//设置页面为修改状态
		viewModel.pageState(pageState.edit);
    	//当前选中行
    	var selectRow = gridObj.getSelectRows();
    	//将数据绑定到表单上面
    	ko.mapping.fromJS(selectRow[0], viewModel.editData);
    	//跳转到编辑页面
        $("#rzPlanChangeLeaseNewModule").layoutMDI("go", ".rzPlanChangeLeaseNewEdit");
    });

	/**
	 * 删除功能
	 */	    
    jQuery("#rzPlanChangeLeaseNewModule .toolsbarPanel .remove-btn").click(function(){
    	//要删除的id用","隔开
		var batchId = "";
		//当前选中行
		var selectRow = gridObj.getSelectRows();
		//判断是否选中要删除的数据
		if(selectRow.length == 0) {
			alert("请选择您要修改的数据");
			return;
		}
	
		for(var i = 0; i < selectRow.length; i++) {
			var row = selectRow[i];
			if(i == 0) {
				batchId = row["pkPlanChangeLeaseNew"] + batchId;
			} else {
				batchId = row["pkPlanChangeLeaseNew"] + "," + batchId;
			}
		}
		//删除数据
		jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewEditForm").formPlugin("remove",{batchId:batchId,url:url_del});
    });
    
    /**
	 * 刷新功能(只是刷新当前页，如果要刷新所有页面使用 load 方法)
	 */	 
    jQuery("#rzPlanChangeLeaseNewModule .toolsbarPanel .refresh-btn").click(function(){
		jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewList").gridPlugin("reLoad",viewModel.queryData);
    });
    
    //保存功能
	jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewEdit .save-btn").click(function(){
		if(viewModel.pageState()=="add"){
			ko.mapping.fromJS(emptyData,viewModel.queryData);
		}
		var param = {
			formData:ko.mapping.toJS(viewModel.editData),//要提交的数据
			queryData:ko.mapping.toJS(viewModel.queryData),//修改完毕刷新表格的参数
			editType:viewModel.pageState()//页面的状态(add：添加，edit:编辑)
		}
		jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewEditForm").formPlugin("save",param);
	});
	
	//查找功能
	jQuery("#rzPlanChangeLeaseNewModule .searchToolsbar .search-btn").click(function(){
		jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewList").gridPlugin("load",ko.mapping.toJS(viewModel.queryData));
	});
	
	//重置查询条件功能
	jQuery("#rzPlanChangeLeaseNewModule .searchToolsbar .reset-btn").click(function(){
		ko.mapping.fromJS(emptyData,viewModel.queryData);
	});
	
	//编辑页返回
	jQuery("#rzPlanChangeLeaseNewModule .rzPlanChangeLeaseNewEdit .back-btn").click(function(){
		$("#rzPlanChangeLeaseNewModule").layoutMDI("back");
	});

	ko.applyBindings(viewModel);

});

function RzPlanChangeLeaseNewView(){
	//主键
	this.pkPlanChangeLeaseNew="";
	//主键
	this.pkPlanChange="";
	//期次数
	this.num="";
	//应还款日期
	this.rptDate="";
	//偿还期间
	this.paydur="";
	//期间天数
	this.durdays="";
	//租赁利率(%)
	this.leaseRate="";
	//应还款本金
	this.rptAmt="";
	//应还款利息
	this.rptInt="";
	//应还款租金
	this.rptRent="";
	//应还罚息
	this.rptDefInt="";
	//应支付手续费
	this.payFee="";
	//应还款合计
	this.rptTotal="";
	//剩余本金
	this.residualAmt="";
	//实际还款本金
	this.actAmt="";
	//实际还款利息
	this.actInt="";
	//实际还款罚息
	this.actDefInt="";
	//实际支付手续费
	this.actPayFee="";
	//实际还款合计
	this.actTotal="";
	//是否核销:Y是N否
	this.isCheck="";
	//编辑页面状态
	this.enableState=true;
}

function getParams(selector){
	return {};
}

</script>
	
</body>