<!-- search start  -->
<div class="searchPanel padding-10">
	<form class="form-horizontal">
		<div class="searchContent col-xs-8" data-bind="with:queryData">
						
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPlanChangeLeaseNew" class="form-control" data-bind="value:pkPlanChangeLeaseNew">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">主键</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="pkPlanChange" class="form-control" data-bind="value:pkPlanChange">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">期次数</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="num" class="form-control" data-bind="value:num">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label no-padding-right">应还款日期</label>
						<div class="col-md-8 col-sm-8">
							<input type="text" name="rptDate" class="form-control" data-bind="value:rptDate">
						</div>
					</div>
				</div>
			</div>
			<!--******更多条件放这里********-->
			<div class="hideRule">
				
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">偿还期间</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="paydur" class="form-control" data-bind="value:paydur">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">期间天数</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="durdays" class="form-control" data-bind="value:durdays">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">租赁利率(%)</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="leaseRate" class="form-control" data-bind="value:leaseRate">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应还款本金</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="rptAmt" class="form-control" data-bind="value:rptAmt">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应还款利息</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="rptInt" class="form-control" data-bind="value:rptInt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应还款租金</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="rptRent" class="form-control" data-bind="value:rptRent">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应还罚息</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="rptDefInt" class="form-control" data-bind="value:rptDefInt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应支付手续费</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="payFee" class="form-control" data-bind="value:payFee">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">应还款合计</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="rptTotal" class="form-control" data-bind="value:rptTotal">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">剩余本金</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="residualAmt" class="form-control" data-bind="value:residualAmt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实际还款本金</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actAmt" class="form-control" data-bind="value:actAmt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实际还款利息</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actInt" class="form-control" data-bind="value:actInt">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实际还款罚息</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actDefInt" class="form-control" data-bind="value:actDefInt">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实际支付手续费</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actPayFee" class="form-control" data-bind="value:actPayFee">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">实际还款合计</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="actTotal" class="form-control" data-bind="value:actTotal">
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="form-group">
							<label class="col-md-4 col-sm-4 control-label no-padding-right">是否核销:Y是N否</label>
							<div class="col-md-8 col-sm-8">
								<input type="text" name="isCheck" class="form-control" data-bind="value:isCheck">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 展开更多的一行-->
		<div class="searchToolsbar">
			<div data-target=".hideRule" data-toggle="collapse" class="moreRule">
				<span>展开更多查询条件</span>
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</div>
			<div class="search-box">
				<button type="button" class="btn btn-default btn-sm reset-btn">重置</button>
				<button type="button" class="btn btn-default btn-sm search-btn">查询</button>
			</div>
		</div>
	</form>
</div>
<!-- search end -->